ubl/schematron/UBL/MD-UBL-EN16931.sch

<!-- Schematron binding rules automatically generated by Validex Generator Midran ltd -->
<!-- Data binding to UBL syntax for EN16931 -->
<!-- Timestamp: 2016-06-07 07:57:47 +0200 -->
<pattern xmlns="http://purl.oclc.org/dsdl/schematron" is-a="EN16931" id="UBL-EN16931">
  <param name="BR-01" value="(cbc:CustomizationID)"/>
  <param name="BR-02" value="(cbc:ID)"/>
  <param name="BR-03" value="(cbc:IssueDate)"/>
  <param name="BR-04" value="(cbc:InvoiceTypeCode)"/>
  <param name="BR-05" value="(cbc:DocumentCurrencyCode)"/>
  <param name="BR-06" value="(cac:AccountingSupplierParty/cac:Party/cac:PartyLegalEntity/cbc:RegistrationName)"/>
  <param name="BR-07" value="(cac:AccountingCustomerParty/cac:Party/cac:PartyName/cbc:Name)"/>
  <param name="BR-08" value="(cac:AccountingSupplierParty/cac:Party/cac:PostalAddress)"/>
  <param name="BR-09" value="(cac:AccountingCustomerParty/cac:Party/cac:PostalAddress)"/>
  <param name="BR-10" value="(cbc:LineExtensionAmount)"/>
  <param name="BR-11" value="(cbc:TaxExclusiveAmount)"/>
  <param name="BR-12" value="(cbc:TaxInclusiveAmount)"/>
  <param name="BR-13" value="(cbc:PayableAmount)"/>
  <param name="BR-14" value="(cac:InvoiceLine)"/>
  <param name="BR-16" value="(cac:PartyName/cbc:Name)"/>
  <param name="BR-17" value="(cac:PartyName/cbc:Name)"/>
  <param name="BR-15" value="(cac:PostalAddress)"/>
  <param name="BR-18" value="(cbc:ID)"/>
  <param name="BR-19" value="(cbc:InvoicedQuantity)"/>
  <param name="BR-20" value="(cbc:InvoicedQuantity/@unitCode)"/>
  <param name="BR-21" value="(cbc:LineExtensionAmount)"/>
  <param name="BR-22" value="(cac:Item/cbc:Name)"/>
  <param name="BR-23" value="(cac:Price/cbc:PriceAmount)"/>
  <param name="BR-24" value="(cac:Price/cbc:PriceAmount) &gt;= 0"/>
  <param name="BR-25" value="(cac:Price/cac:AllowanceCharge/cbc:BaseAmount) &gt;= 0 or not(cac:Price/cac:AllowanceCharge/cbc:BaseAmount)"/>
  <param name="BR-26" value="(cbc:StartDate)"/>
  <param name="BR-27" value="(cbc:EndDate)"/>
  <param name="BR-28" value="(cbc:EndDate) &gt;= (cbc:StartDate)"/>
  <param name="BR-29" value="(cbc:StartDate)"/>
  <param name="BR-30" value="(cbc:EndDate)"/>
  <param name="BR-31" value="(cbc:EndDate) &gt;= (cbc:StartDate)"/>
  <param name="BR-32" value="(cbc:Amount)"/>
  <param name="BR-33" value="(cac:TaxCategory/cbc:ID)"/>
  <param name="BR-35" value="(cbc:AllowanceChargeReason)"/>
  <param name="BR-36" value="(cbc:Amount) &gt;=0"/>
  <param name="BR-37" value="(cbc:Amount)"/>
  <param name="BR-38" value="(cac:TaxCategory/cbc:ID)"/>
  <param name="BR-40" value="(cbc:AllowanceChargeReason)"/>
  <param name="BR-41" value="(cbc:Amount) &gt;=0"/>
  <param name="BR-42" value="(cbc:Amount)"/>
  <param name="BR-43" value="(cbc:AllowanceChargeReason)"/>
  <param name="BR-44" value="(cbc:Amount)"/>
  <param name="BR-45" value="(cbc:AllowanceChargeReason)"/>
  <param name="BR-46" value="(cbc:TaxableAmount)"/>
  <param name="BR-47" value="(cbc:TaxAmount)"/>
  <param name="BR-48" value="(cac:TaxCategory/cbc:ID)"/>
  <param name="BR-49" value="(cac:TaxCategory/cbc:Percent)"/>
  <param name="BR-50" value="(cbc:PaymentMeansCode)"/>
  <param name="BR-51" value="((cbc:PaymentMeansCode = '49') and (cac:PaymentMandate/cbc:ID)) or not(cbc:PaymentMeansCode =  '49')"/>
  <param name="BR-52" value="((cac:PaymentMeans/cbc:PaymentMeansCode = '49') and (cac:PayeeParty/cac:PartyIdentification/cbc:ID)) or not(cac:PaymentMeans/cbc:PaymentMeansCode =  '49')"/>
  <param name="BR-53" value="(cbc:ID)"/>
  <param name="BR-54" value="string-length(cbc:PrimaryAccountNumberID)&gt;6 and string-length(substring(cbc:PrimaryAccountNumberID,4))&gt;2"/>
  <param name="BR-55" value="(cbc:ID)"/>
  <param name="BR-56" value="(cbc:DocumentType)"/>
  <param name="BR-57" value="(cbc:TaxInclusiveAmount) &gt;=0"/>
  <param name="BR-59" value="not(/ubl:Invoice/cbc:TaxCurrencyCode) or (cbc:TaxAmount and cbc:TransactionCurrencyTaxAmount)"/>
  <param name="BR-60" value="(cbc:Name) and (cbc:Value)"/>
  <param name="BR-CO-01" value="true()"/>
  <param name="BR-CO-02" value="((cbc:PaymentMeansCode = '30') and (cac:PayeeFinancialAccount)) or not(cbc:PaymentMeansCode =  '30')"/>
  <param name="BR-CO-03" value="(((cac:AccountingSupplierParty/cac:Party/cac:PartyTaxScheme/cbc:CompanyID) or (cac:TaxRepresentativeParty/cac:PartyTaxScheme/cbc:CompanyID)) and (cac:TaxTotal/cac:TaxSubtotal/cac:TaxCategory/cac:TaxScheme/cbc:ID = 'VAT')) or not(cac:TaxTotal/cac:TaxSubtotal/cac:TaxCategory/cac:TaxScheme/cbc:ID = 'VAT')"/>
  <param name="BR-CO-04" value="(cac:Item/cac:ClassifiedTaxCategory/cbc:ID)"/>
  <param name="BR-CO-05" value="true()"/>
  <param name="BR-CO-06" value="true()"/>
  <param name="BR-CO-07" value="true()"/>
  <param name="BR-CO-08" value="true()"/>
  <param name="BR-CO-09" value="not(/ubl:Invoice/cac:TaxTotal/*/*/*/cbc:ID = 'VAT') or (starts-with(cbc:CompanyID,../cac:PostalAddress/cac:Country/cbc:IdentificationCode))"/>
  <param name="BR-CO-10" value="(cbc:LineExtensionAmount) = (round(sum(//cac:InvoiceLine/cbc:LineExtensionAmount) * 10 * 10) div 100)"/>
  <param name="BR-CO-11" value="cbc:AllowanceTotalAmount = (round(sum(/ubl:Invoice/cac:AllowanceCharge[cbc:ChargeIndicator='false']/cbc:Amount) * 10 * 10) div 100) or not(cbc:AllowanceTotalAmount)"/>
  <param name="BR-CO-12" value="cbc:AllowanceTotalAmount = (round(sum(/ubl:Invoice/cac:AllowanceCharge[cbc:ChargeIndicator='true']/cbc:Amount) * 10 * 10) div 100) or not(cbc:AllowanceTotalAmount)"/>
  <param name="BR-CO-13" value="((cbc:ChargeTotalAmount) and (cbc:AllowanceTotalAmount) and ((cbc:TaxExclusiveAmount) = round(((cbc:LineExtensionAmount) + (cbc:ChargeTotalAmount) - (cbc:AllowanceTotalAmount)) * 10 * 10) div 100 ))  or (not(cbc:ChargeTotalAmount) and (cbc:AllowanceTotalAmount) and ((cbc:TaxExclusiveAmount) = round(((cbc:LineExtensionAmount) - (cbc:AllowanceTotalAmount)) * 10 * 10 ) div 100)) or ((cbc:ChargeTotalAmount) and not(cbc:AllowanceTotalAmount) and ((cbc:TaxExclusiveAmount) = round(((cbc:LineExtensionAmount) + (cbc:ChargeTotalAmount)) * 10 * 10 ) div 100)) or (not(cbc:ChargeTotalAmount) and not(cbc:AllowanceTotalAmount) and ((cbc:TaxExclusiveAmount) = (cbc:LineExtensionAmount)))"/>
  <param name="BR-CO-14" value="((child::cbc:TaxAmount)= round((sum(//cac:TaxSubtotal/cbc:TaxAmount) * 10 * 10)) div 100) "/>
  <param name="BR-CO-15" value="(cbc:TaxInclusiveAmount = cbc:TaxExclusiveAmount + (round(sum(/ubl:Invoice/cac:TaxTotal/cbc:TaxAmount) * 10 * 10) div 100))"/>
  <param name="BR-CO-16" value="((cbc:PrepaidAmount) and ((cbc:PayableAmount) = (round((cbc:TaxInclusiveAmount - cbc:PrepaidAmount) * 10 * 10) div 100)) or (cbc:PayableAmount) = (cbc:TaxInclusiveAmount))&#10;or&#10;((cbc:PrepaidAmount) and (cbc:PayableRoundingAmount) and (((cbc:PayableAmount) -(cbc:PayableRoundingAmount)) = (round((cbc:TaxInclusiveAmount - cbc:PrepaidAmount) * 10 * 10) div 100)) or ((cbc:PayableAmount) - (cbc:PayableRoundingAmount))= (cbc:TaxInclusiveAmount))"/>
  <param name="BR-CO-17" value="cbc:TaxAmount = round(cbc:TaxableAmount * (cac:TaxCategory/cbc:Percent div 100) * 10 * 10) div 100 "/>
  <param name="BR-S-01" value="/cac:InvoiceLine/cac:Item/cac:ClassifiedTaxCategory/cbc:ID = 'S'"/>
  <param name="BR-S-02" value="(cac:AccountingSupplierParty/cac:Party/cac:PartyTaxScheme/cbc:CompanyID)"/>
  <param name="BR-S-03" value="true()"/>
  <param name="BR-S-04" value="../cbc:TaxAmount = round(((../cbc:TaxableAmount) * (cbc:Percent div 100)) * 10 * 10) div 100 "/>
  <param name="BR-S-05" value="cbc:Percent &gt; 0"/>
  <param name="BR-S-06" value="not(cbc:TaxExemptionReason)"/>
  <param name="BR-S-07" value="not(cbc:TaxExemptionReason)"/>
  <param name="BR-Z-01" value="/cac:InvoiceLine/cac:Item/cac:ClassifiedTaxCategory/cbc:ID = 'Z'"/>
  <param name="BR-Z-02" value="(/cac:AccountingSupplierParty/cac:Party/cac:PartyTaxScheme/cbc:CompanyID)"/>
  <param name="BR-Z-03" value="cbc:Percent = 0"/>
  <param name="BR-Z-04" value="(cbc:ID = 'Z') and (cbc:Percent = 0)"/>
  <param name="BR-Z-05" value="(cbc:ID = 'Z') and (cbc:Percent = 0)"/>
  <param name="BR-Z-06" value="../cbc:TaxableAmount = sum(//cac:InvoiceLine[cac:Item/cac:ClassifiedTaxCategory/cbc:ID='Z']/cbc:LineExtensionAmount) + sum(//cac:InvoiceLine/cac:AllowanceCharge[cbc:ChargeIndicator='true']/cbc:Amount) - sum(//cac:InvoiceLine/cac:AllowanceCharge[cbc:ChargeIndicator='false']/cbc:Amount)"/>
  <param name="BR-Z-07" value="../cbc:TaxAmount = 0"/>
  <param name="BR-Z-08" value="cbc:Percent = 0"/>
  <param name="BR-Z-09" value="not(cbc:TaxExemptionReason)"/>
  <param name="BR-Z-10" value="not(cbc:TaxExemptionReason)"/>
  <param name="BR-E-01" value="/cac:InvoiceLine/cac:Item/cac:ClassifiedTaxCategory/cbc:ID = 'E'"/>
  <param name="BR-E-02" value="(/cac:AccountingSupplierParty/cac:Party/cac:PartyTaxScheme/cbc:CompanyID)"/>
  <param name="BR-E-03" value="(cbc:ID='E') and (/cac:AccountingSupplierParty/cac:Party/cac:PartyTaxScheme/cbc:CompanyID)"/>
  <param name="BR-E-04" value="(cbc:ID='E') and (/cac:AccountingSupplierParty/cac:Party/cac:PartyTaxScheme/cbc:CompanyID)"/>
  <param name="BR-E-05" value="cbc:Percent = 0"/>
  <param name="BR-E-06" value="(cbc:TaxExemptionReason)"/>
  <param name="BR-E-07" value="true()"/>
  <param name="BR-E-08" value="../cbc:TaxAmount = 0"/>
  <param name="BR-E-09" value="(cbc:TaxExemptionReason)"/>
  <param name="BR-E-10" value="cbc:Percent = 0"/>
  <param name="BR-AE-01" value="/cac:InvoiceLine/cac:Item/cac:ClassifiedTaxCategory/cbc:ID = 'AE'"/>
  <param name="BR-AE-02" value="(/cac:AccountingSupplierParty/cac:Party/cac:PartyTaxScheme/cbc:CompanyID) and (/cac:AccountingCustomerParty/cac:Party/cac:PartyTaxScheme/cbc:CompanyID)"/>
  <param name="BR-AE-03" value="(cbc:ID='AE') and (/cac:AccountingSupplierParty/cac:Party/cac:PartyTaxScheme/cbc:CompanyID) and (/cac:AccountingCustomerParty/cac:Party/cac:PartyTaxScheme/cbc:CompanyID)"/>
  <param name="BR-AE-04" value="((cbc:ID='AE') and (/cac:AccountingSupplierParty/cac:Party/cac:PartyTaxScheme/cbc:CompanyID) and (/cac:AccountingCustomerParty/cac:Party/cac:PartyTaxScheme/cbc:CompanyID)) or (cbc:ID != 'AE')"/>
  <param name="BR-AE-05" value="../cbc:TaxAmount = 0"/>
  <param name="BR-AE-06" value="cbc:Percent = 0"/>
  <param name="BR-AE-07" value="true()"/>
  <param name="BR-AE-08" value="(cbc:TaxExemptionReason = 'Reverse Charge')"/>
  <param name="BR-AE-09" value="(cbc:TaxExemptionReason = 'Reverse Charge')"/>
  <param name="BR-AE-10" value="cbc:Percent = 0"/>
  <param name="BR-IC-01" value="/cac:InvoiceLine/cac:Item/cac:ClassifiedTaxCategory/cbc:ID = 'IC'"/>
  <param name="BR-IC-02" value="../cbc:TaxAmount = 0"/>
  <param name="BR-IC-03" value="(/cac:AccountingSupplierParty/cac:Party/cac:PartyTaxScheme/cbc:CompanyID) and (/cac:AccountingCustomerParty/cac:Party/cac:PartyTaxScheme/cbc:CompanyID)"/>
  <param name="BR-IC-04" value="(cbc:ID='IC') and (/cac:AccountingSupplierParty/cac:Party/cac:PartyTaxScheme/cbc:CompanyID) and (/cac:AccountingCustomerParty/cac:Party/cac:PartyTaxScheme/cbc:CompanyID)"/>
  <param name="BR-IC-05" value="(cbc:ID='IC') and (/cac:AccountingSupplierParty/cac:Party/cac:PartyTaxScheme/cbc:CompanyID) and (/cac:AccountingCustomerParty/cac:Party/cac:PartyTaxScheme/cbc:CompanyID)"/>
  <param name="BR-IC-06" value="cbc:Percent = 0"/>
  <param name="BR-IC-07" value="(cbc:TaxExemptionReason = &quot;Intra community supply&quot;)"/>
  <param name="BR-IC-08" value="(cac:Delivery/cbc:ActualDeliveryDate)"/>
  <param name="BR-IC-09" value="(cac:Delivery/cac:DeliveryLocation/cac:Address/cac:Country/cbc:IdentificationCode)"/>
  <param name="BR-IC-10" value="(cbc:TaxExemptionReason = &quot;Intra community supply&quot;)"/>
  <param name="BR-IC-11" value="cbc:Percent = 0"/>
  <param name="BR-IC-12" value="true()"/>
  <param name="BR-G-01" value="/cac:InvoiceLine/cac:Item/cac:ClassifiedTaxCategory/cbc:ID = 'G'"/>
  <param name="BR-G-02" value="(/cac:AccountingSupplierParty/cac:Party/cac:PartyTaxScheme/cbc:CompanyID)"/>
  <param name="BR-G-03" value="(cbc:ID='G') and (/cac:AccountingSupplierParty/cac:Party/cac:PartyTaxScheme/cbc:CompanyID)"/>
  <param name="BR-G-04" value="(cbc:ID='G') and (/cac:AccountingSupplierParty/cac:Party/cac:PartyTaxScheme/cbc:CompanyID)"/>
  <param name="BR-G-05" value="cbc:Percent = 0"/>
  <param name="BR-G-06" value="../cbc:TaxAmount = 0"/>
  <param name="BR-G-07" value="(cbc:TaxExemptionReason = &quot;Export outside the EU&quot;) "/>
  <param name="BR-G-08" value="cbc:Percent = 0"/>
  <param name="BR-G-09" value="(cbc:TaxExemptionReason = &quot;Export outside the EU&quot;) "/>
  <param name="BR-G-10" value="cbc:Percent = 0"/>
  <param name="BR-O-01" value="not(/cac:AccountingSupplierParty/cac:Party/cac:PartyTaxScheme/cbc:CompanyID) and not(/cac:AccountingCustomerParty/cac:Party/cac:PartyTaxScheme/cbc:CompanyID)"/>
  <param name="BR-O-02" value="cac:TaxTotal/cac:TaxSubtotal/cac:TaxCategory/cbc:ID != 'O'"/>
  <param name="BR-O-03" value="//cac:InvoiceLine/cac:Item/cac:ClassifiedTaxCategory/cbc:ID != 'O'"/>
  <param name="BR-O-04" value="/cac:AllowanceCharge[cbc:ChargeIndicator='false']/cac:TaxCategory/cbc:ID != 'O'"/>
  <param name="BR-O-05" value="/cac:AllowanceCharge[cbc:ChargeIndicator='true']/cac:TaxCategory/cbc:ID != 'O'"/>
  <param name="BR-O-06" value="not(cbc:Percent)"/>
  <param name="BR-O-07" value="not(cbc:TaxExemptionReason)"/>
  <param name="BR-O-08" value="not(cbc:TaxExemptionReason)"/>
  <param name="Invoice_Period " value="cac:InvoicePeriod"/>
  <param name="Document_totals " value="cac:LegalMonetaryTotal"/>
  <param name="Payee" value="cac:PayeeParty"/>
  <param name="Tax_Representative" value="cac:TaxRepresentativeParty"/>
  <param name="Invoice_Line " value="cac:InvoiceLine"/>
  <param name="Invoice_Line_Period " value="cac:InvoiceLine/cac:InvoicePeriod"/>
  <param name="Document_level_allowances " value="/cac:AllowanceCharge[cbc:ChargeIndicator = 'false']"/>
  <param name="Document_level_charges " value="/cac:AllowanceCharge[cbc:ChargeIndicator = 'true']"/>
  <param name="Invoice_line_allowances " value="cac:InvoiceLine/cac:AllowanceCharge[cbc:ChargeIndicator = 'false']"/>
  <param name="Invoice_line_charges " value="cac:InvoiceLine/cac:AllowanceCharge[cbc:ChargeIndicator = 'true']"/>
  <param name="VAT_breakdown " value="cac:TaxTotal/cac:TaxSubtotal"/>
  <param name="Payment_instructions " value="cac:PaymentMeans"/>
  <param name="Account_information " value="cac:PaymentMeans/cac:PayeeFinancialAccount"/>
  <param name="Card_information " value="cac:PaymentMeans/cac:CardAccount"/>
  <param name="Additional_supporting_documents " value="cac:AdditionalDocumentReference"/>
  <param name="Item_attributes " value="cac:AdditionalItemProperty"/>
  <param name="VAT_identifiers " value="cac:PartyTaxScheme"/>
  <param name="Tax_Total" value="cac:TaxTotal"/>
  <param name="Tax_subtotal" value="cac:TaxSubtotal"/>
  <param name="VATS_Line" value="cac:InvoiceLine/cac:Item/cac:ClassifiedTaxCategory[cbc:ID = 'S']"/>
  <param name="VATS" value="cac:TaxTotal/cac:TaxSubtotal/cac:TaxCategory[cbc:ID = 'S']"/>
  <param name="VATZ_Line" value="cac:InvoiceLine/cac:Item/cac:ClassifiedTaxCategory[cbc:ID = 'Z']"/>
  <param name="VATZ_Allowance" value="cac:AllowanceCharge[cbc:ChargeIndicator='false']/cac:TaxCategory[cbc:ID='Z']"/>
  <param name="VATZ_Charge" value="cac:AllowanceCharge[cbc:ChargeIndicator='true']/cac:TaxCategory[cbc:ID='Z']"/>
  <param name="VATZ" value="cac:TaxTotal/cac:TaxSubtotal/cac:TaxCategory[cbc:ID = 'Z']"/>
  <param name="VATE_Allowance" value="cac:AllowanceCharge[cbc:ChargeIndicator='false']/cac:TaxCategory[cbc:ID='E']"/>
  <param name="VATE_Charge" value="cac:AllowanceCharge[cbc:ChargeIndicator='true']/cac:TaxCategory[cbc:ID='E']"/>
  <param name="VATE_Line" value="cac:InvoiceLine/cac:Item/cac:ClassifiedTaxCategory[cbc:ID = 'E']"/>
  <param name="VATE" value="cac:TaxTotal/cac:TaxSubtotal/cac:TaxCategory[cbc:ID = 'E']"/>
  <param name="VATG_Allowance" value="cac:AllowanceCharge[cbc:ChargeIndicator='false']/cac:TaxCategory[cbc:ID='G']"/>
  <param name="VATG_Charge" value="cac:AllowanceCharge[cbc:ChargeIndicator='true']/cac:TaxCategory[cbc:ID='G']"/>
  <param name="VATG_Line" value="cac:InvoiceLine/cac:Item/cac:ClassifiedTaxCategory[cbc:ID = 'G']"/>
  <param name="VATG" value="cac:TaxTotal/cac:TaxSubtotal/cac:TaxCategory[cbc:ID = 'G']"/>
  <param name="VATAE_Allowance" value="cac:AllowanceCharge[cbc:ChargeIndicator='false']/cac:TaxCategory[cbc:ID='AE']"/>
  <param name="VATAE_Charge" value="cac:AllowanceCharge[cbc:ChargeIndicator='true']/cac:TaxCategory[cbc:ID='AE']"/>
  <param name="VATAE_Line" value="cac:InvoiceLine/cac:Item/cac:ClassifiedTaxCategory[cbc:ID = 'AE']"/>
  <param name="VATAE" value="cac:TaxTotal/cac:TaxSubtotal/cac:TaxCategory[cbc:ID = 'AE']"/>
  <param name="VATIC_Allowance" value="cac:AllowanceCharge[cbc:ChargeIndicator='false']/cac:TaxCategory[cbc:ID='IC']"/>
  <param name="VATIC_Charge" value="cac:AllowanceCharge[cbc:ChargeIndicator='true']/cac:TaxCategory[cbc:ID='IC']"/>
  <param name="VATIC_Line" value="cac:InvoiceLine/cac:Item/cac:ClassifiedTaxCategory[cbc:ID = 'IC']"/>
  <param name="VATIC" value="cac:TaxTotal/cac:TaxSubtotal/cac:TaxCategory[cbc:ID = 'IC']"/>
  <param name="VATO_Line" value="cac:InvoiceLine/cac:Item/cac:ClassifiedTaxCategory[cbc:ID = 'O']"/>
  <param name="VATO" value="cac:TaxTotal/cac:TaxSubtotal/cac:TaxCategory[cbc:ID = 'O']"/>
  <param name="Invoice " value="/ubl:Invoice"/>
</pattern>
