ubl/schematron/UBL/SY-UBL-EN16931.sch

<!-- Schematron binding rules automatically generated by Validex Generator Midran ltd -->
<!-- Data binding to UBL syntax for EN16931 -->
<!-- Timestamp: 2016-06-09 08:16:05 +0200 -->
<pattern xmlns="http://purl.oclc.org/dsdl/schematron" is-a="EN16931" id="UBL-EN16931">
  <param name="UBL-SR-01" value="(count(cac:ContractDocumentReference/cbc:ID) &lt;= 1)"/>
  <param name="UBL-SR-02" value="(count(cac:ReceiptDocumentReference/cbc:ID) &lt;= 1)"/>
  <param name="UBL-SR-03" value="(count(cac:DespatchDocumentReference/cbc:ID) &lt;= 1)"/>
  <param name="UBL-SR-04" value="(count(cbc:Note) &lt;= 1)"/>
  <param name="UBL-SR-05" value="(count(cac:PaymentTerms/cbc:Note) &lt;= 1)"/>
  <param name="UBL-SR-06" value="(count(cac:InvoiceDocumentReference) &lt;= 1)"/>
  <param name="UBL-SR-07" value="(cac:InvoiceDocumentReference/cbc:ID)"/>
  <param name="UBL-SR-08" value="(count(cac:InvoicePeriod) &lt;= 1)"/>
  <param name="UBL-SR-09" value="(count(cac:AccountingSupplierParty/cac:Party/cac:PartyLegalEntity/cbc:RegistrationName) &lt;= 1)"/>
  <param name="UBL-SR-10" value="(count(cac:AccountingSupplierParty/cac:Party/cac:PartyName/cbc:Name) &lt;= 1)"/>
  <param name="UBL-SR-11" value="(count(cac:AccountingSupplierParty/cac:Party/cac:PartyLegalEntity/cbc:CompanyID) &lt;= 1)"/>
  <param name="UBL-SR-12" value="(count(cac:AccountingSupplierParty/cac:Party/cac:PartyTaxScheme/cbc:CompanyID) &lt;= 1)"/>
  <param name="UBL-SR-13" value="(count(cac:AccountingSupplierParty/cac:Party/cac:PartyTaxScheme/cbc:ID) &lt;= 1)"/>
  <param name="UBL-SR-14" value="(count(cac:AccountingSupplierParty/cac:Party/cac:PartyLegalEntity/cbc:CompanyLegalForm) &lt;= 1)"/>
  <param name="UBL-SR-15" value="(count(cac:AccountingCustomerParty/cac:Party/cac:PartyName/cbc:Name) &lt;= 1)"/>
  <param name="UBL-SR-16" value="(count(cac:AccountingCustomerParty/cac:Party/cac:PartyIdentification/cbc:ID) &lt;= 1)"/>
  <param name="UBL-SR-17" value="(count(cac:AccountingCustomerParty/cac:Party/cac:PartyLegalEntity/cbc:CompanyID) &lt;= 1)"/>
  <param name="UBL-SR-18" value="(count(cac:AccountingCustomerParty/cac:Party/cac:PartyTaxScheme/cbc:CompanyID) &lt;= 1)"/>
  <param name="UBL-SR-19" value="(count(cac:PartyName/cbc:Name) &lt;= 1) and ((cac:PartyName/cbc:Name) != (/cac:AccountingSupplierParty/cac:Party/cac:PartyName/cbc:Name))"/>
  <param name="UBL-SR-20" value="(count(cac:PartyIdentification/cbc:ID) &lt;= 1) and ((cac:PartyName/cbc:Name) != (/cac:AccountingSupplierParty/cac:Party/cac:PartyName/cbc:Name))"/>
  <param name="UBL-SR-21" value="(count(cac:PartyLegalEntity/cbc:CompanyID) &lt;= 1) and ((cac:PartyName/cbc:Name) != (/cac:AccountingSupplierParty/cac:Party/cac:PartyName/cbc:Name))"/>
  <param name="UBL-SR-22" value="(count(cac:Party/cac:PartyName/cbc:Name) &lt;= 1)"/>
  <param name="UBL-SR-23" value="(count(cac:Party/cac:PartyTaxScheme/cbc:CompanyID) &lt;= 1)"/>
  <param name="UBL-SR-24" value="(count(cac:Delivery) &lt;= 1)"/>
  <param name="UBL-SR-25" value="(count(cac:DeliveryParty/cac:PartyName/cbc:Name) &lt;= 1)"/>
  <param name="UBL-SR-26" value="(count(cbc:PaymentID) &lt;= 1)"/>
  <param name="UBL-SR-27" value="(count(cbc:InstructionNote) &lt;= 1)"/>
  <param name="UBL-SR-28" value="(count(cac:PaymentMandate/cbc:ID) &lt;= 1)"/>
  <param name="UBL-SR-29" value="(count(cac:PayeeParty/cac:PartyIdentification/cbc:ID) &lt;= 1)"/>
  <param name="UBL-SR-30" value="(count(cbc:AllowanceChargeReason) &lt;= 1)"/>
  <param name="UBL-SR-31" value="(count(cbc:AllowanceChargeReason) &lt;= 1)"/>
  <param name="UBL-SR-32" value="(count(cbc:AllowanceChargeReasonCode) &lt;= 1)"/>
  <param name="UBL-SR-33" value="(count(cbc:TaxAmount) &lt;= 1)"/>
  <param name="UBL-SR-34" value="(count(cac:TaxSubtotal/cbc:TransactionCurrencyTaxAmount) &lt;= 1)"/>
  <param name="UBL-SR-35" value="(count(cac:TaxCategory/cbc:TaxExemptionReason) &lt;= 1)"/>
  <param name="UBL-SR-36" value="(count(cbc:ID) &lt;= 1)"/>
  <param name="UBL-SR-37" value="(count(cbc:DocumentType) &lt;= 1)"/>
  <param name="UBL-SR-38" value="(count(cbc:Note) &lt;= 1)"/>
  <param name="UBL-SR-39" value="(count(cac:OrderLineReference/cbc:LineID) &lt;= 1)"/>
  <param name="UBL-SR-40" value="(count(cac:InvoicePeriod) &lt;= 1)"/>
  <param name="UBL-SR-41" value="(count(cac:AllowanceCharge[cbc:ChargeIndicator='false']/cbc:AllowanceChargeReason) &lt;= 1)"/>
  <param name="UBL-SR-42" value="(count(cac:AllowanceCharge[cbc:ChargeIndicator='true']/cbc:AllowanceChargeReason) &lt;= 1)"/>
  <param name="UBL-SR-43" value="(count(cac:Price/cac:AllowanceCharge/cbc:Amount) &lt;= 1)"/>
  <param name="UBL-SR-44" value="(count(cac:Item/cac:ClassifiedTaxCategory/cbc:TaxExemptionReason) &lt;= 1)"/>
  <param name="UBL-DT-01" value="string-length(substring-after(.,'.'))&lt;=2"/>
  <param name="UBL-DT-02" value="string-length(substring-after(.,'.'))&lt;=4"/>
  <param name="UBL-DT-03" value="string-length(substring-after(.,'.'))&lt;=4"/>
  <param name="UBL-DT-04" value="string-length(substring-after(.,'.'))&lt;=4"/>
  <param name="UBL-DT-05" value="(@listID)"/>
  <param name="UBL-DT-06" value="(@mimeCode)"/>
  <param name="UBL-DT-07" value="(@filename)"/>
  <param name="UBL-DT-08" value="not(//@schemeName)"/>
  <param name="UBL-DT-09" value="not(//@schemeAgencyName)"/>
  <param name="UBL-DT-10" value="not(//@schemeDataURI)"/>
  <param name="UBL-DT-11" value="not(//@schemeURI)"/>
  <param name="UBL-DT-12" value="not(//@format)"/>
  <param name="UBL-DT-13" value="not(//@unitCodeListIdentifier)"/>
  <param name="UBL-DT-14" value="not(//@unitCodeListAgencyIdentifier)"/>
  <param name="UBL-DT-15" value="not(//@unitCodeListAgencyName)"/>
  <param name="UBL-DT-16" value="not(//@listAgencyName)"/>
  <param name="UBL-DT-17" value="not(//@listName)"/>
  <param name="UBL-DT-18" value="not(//@name)"/>
  <param name="UBL-DT-19" value="not(//@languageID)"/>
  <param name="UBL-DT-20" value="not(//@listURI)"/>
  <param name="UBL-DT-21" value="not(//@listSchemeURI)"/>
  <param name="UBL-DT-22" value="not(//@languageLocaleID)"/>
  <param name="UBL-DT-23" value="not(//@uri)"/>
  <param name="Invoice_line" value="cac:InvoiceLine"/>
  <param name="Preceding_Invoice" value="cac:BillingReference"/>
  <param name="Payee" value="cac:PayeeParty"/>
  <param name="Tax_Representative" value="cac:TaxRepresentativeParty"/>
  <param name="Deliver_to" value="cac:Delivery"/>
  <param name="Payment_instructions" value="cac:PaymentMeans"/>
  <param name="Document_level_allowances" value="cac:AllowanceCharge[cbc:ChargeIndicator = 'false']"/>
  <param name="Document_level_charges" value="cac:AllowanceCharge[cbc:ChargeIndicator = 'true']"/>
  <param name="Invoice_total_VAT" value="cac:TaxTotal"/>
  <param name="Tax_subtotal" value="cac:TaxSubtotal"/>
  <param name="Additional_supporting_documents" value="cac:AdditionalDocumentReference"/>
  <param name="Invoice" value="/ubl:Invoice"/>
  <param name="Amount_data_type" value="//*[ends-with(name(), 'Amount') and not(ends-with(name(),'PriceAmount'))] "/>
  <param name="Price_data_type" value="//*[ends-with(name(), 'PriceAmount')]"/>
  <param name="Quantity_data_type" value="//*[ends-with(name(), 'Quantity')]"/>
  <param name="Percent_data_type" value="//*[ends-with(name(), 'Rate')]"/>
  <param name="Code_data_type" value="//*[ends-with(name(), 'Code')]"/>
  <param name="Binary_object_data_type" value="//*[ends-with(name(), 'BinaryObject')]"/>
</pattern>
