edifact/schematron/EDIFACT/EN16931-EDIFACT-syntax.sch

<?xml version="1.0" encoding="ISO-8859-1"?>
<pattern xmlns="http://purl.oclc.org/dsdl/schematron" id="EN16931-EDIFACT-Syntax">
    <param name="EDIFACT-SR-01" value="true()"/>
    <param name="EDIFACT-DT-01" value="true()"/>
    <param name="Invoice_line" value="false()"/>
    <param name="Preceding_Invoice" value="false()"/>
    <param name="Payee" value="false()"/>
    <param name="Tax_Representative" value="false()"/>
    <param name="Deliver_to" value="false()"/>
    <param name="Payment_instructions" value="false()"/>
    <param name="Document_level_allowances" value="false()"/>
    <param name="Document_level_charges" value="false()"/>
    <param name="Invoice_total_VAT" value="false()"/>
    <param name="Tax_subtotal" value="false()"/>
    <param name="Additional_supporting_documents" value="false()"/>
    <param name="Invoice" value="false()"/>
    <param name="Amount_data_type" value="false()"/>
    <param name="Price_data_type" value="false()"/>
    <param name="Quantity_data_type" value="false()"/>
    <param name="Percent_data_type" value="false()"/>
    <param name="Code_data_type" value="false()"/>
    <param name="Binary_object_data_type" value="false()"/>
</pattern>