iso20022/ISO 20022 Business Rules pain.001.001.03.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:pain.001.001.03" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:iso:std:iso:20022:tech:xsd:pain.001.001.03" elementFormDefault="qualified">
    <xs:element name="Document" type="Document" />
    <xs:complexType name="AccountIdentification4Choice">
        <xs:sequence></xs:complexType>
    <xs:complexType name="AccountSchemeName1Choice">
        <xs:sequence></xs:complexType>
    <xs:simpleType name="ActiveOrHistoricCurrencyAndAmount_SimpleType">
        <xs:restriction base="xs:decimal"></xs:simpleType>
    <xs:complexType name="ActiveOrHistoricCurrencyAndAmount">
        <xs:simpleContent></xs:complexType>
    <xs:simpleType name="ActiveOrHistoricCurrencyCode">
        <xs:restriction base="xs:string"></xs:simpleType>
    <xs:simpleType name="AddressType2Code">
        <xs:restriction base="xs:string"></xs:simpleType>
    <xs:complexType name="AmountType3Choice">
        <xs:sequence></xs:complexType>
    <xs:simpleType name="AnyBICIdentifier">
        <xs:restriction base="xs:string"></xs:simpleType>
    <xs:complexType name="Authorisation1Choice">
        <xs:sequence></xs:complexType>
    <xs:simpleType name="Authorisation1Code">
        <xs:restriction base="xs:string"></xs:simpleType>
    <xs:simpleType name="BICIdentifier">
        <xs:restriction base="xs:string"></xs:simpleType>
    <xs:simpleType name="BaseOneRate">
        <xs:restriction base="xs:decimal"></xs:simpleType>
    <xs:simpleType name="BatchBookingIndicator">
        <xs:restriction base="xs:boolean" />
    </xs:simpleType>
    <xs:complexType name="BranchAndFinancialInstitutionIdentification4">
        <xs:sequence></xs:complexType>
    <xs:complexType name="BranchData2">
        <xs:sequence></xs:complexType>
    <xs:complexType name="CashAccount16">
        <xs:sequence></xs:complexType>
    <xs:complexType name="CashAccountType2">
        <xs:sequence></xs:complexType>
    <xs:simpleType name="CashAccountType4Code">
        <xs:restriction base="xs:string"></xs:simpleType>
    <xs:complexType name="CategoryPurpose1Choice">
        <xs:sequence></xs:complexType>
    <xs:simpleType name="ChargeBearerType1Code">
        <xs:restriction base="xs:string"></xs:simpleType>
    <xs:complexType name="Cheque6">
        <xs:sequence></xs:complexType>
    <xs:simpleType name="ChequeDelivery1Code">
        <xs:restriction base="xs:string"></xs:simpleType>
    <xs:complexType name="ChequeDeliveryMethod1Choice">
        <xs:sequence></xs:complexType>
    <xs:simpleType name="ChequeType2Code">
        <xs:restriction base="xs:string"></xs:simpleType>
    <xs:complexType name="ClearingSystemIdentification2Choice">
        <xs:sequence></xs:complexType>
    <xs:complexType name="ClearingSystemMemberIdentification2">
        <xs:sequence></xs:complexType>
    <xs:complexType name="ContactDetails2">
        <xs:sequence></xs:complexType>
    <xs:simpleType name="CountryCode">
        <xs:restriction base="xs:string"></xs:simpleType>
    <xs:simpleType name="CreditDebitCode">
        <xs:restriction base="xs:string"></xs:simpleType>
    <xs:complexType name="CreditTransferTransactionInformation10">
        <xs:sequence></xs:complexType>
    <xs:complexType name="CreditorReferenceInformation2">
        <xs:sequence></xs:complexType>
    <xs:complexType name="CreditorReferenceType1Choice">
        <xs:sequence></xs:complexType>
    <xs:complexType name="CreditorReferenceType2">
        <xs:sequence></xs:complexType>
    <xs:complexType name="CustomerCreditTransferInitiationV03">
        <xs:sequence></xs:complexType>
    <xs:complexType name="DateAndPlaceOfBirth">
        <xs:sequence></xs:complexType>
    <xs:complexType name="DatePeriodDetails">
        <xs:sequence></xs:complexType>
    <xs:simpleType name="DecimalNumber">
        <xs:restriction base="xs:decimal"></xs:simpleType>
    <xs:complexType name="Document">
        <xs:sequence></xs:complexType>
    <xs:complexType name="DocumentAdjustment1">
        <xs:sequence></xs:complexType>
    <xs:simpleType name="DocumentType3Code">
        <xs:restriction base="xs:string"></xs:simpleType>
    <xs:simpleType name="DocumentType5Code">
        <xs:restriction base="xs:string"></xs:simpleType>
    <xs:complexType name="EquivalentAmount2">
        <xs:sequence></xs:complexType>
    <xs:complexType name="ExchangeRateInformation1">
        <xs:sequence></xs:complexType>
    <xs:simpleType name="ExchangeRateType1Code">
        <xs:restriction base="xs:string"></xs:simpleType>
    <xs:simpleType name="ExternalAccountIdentification1Code">
        <xs:restriction base="xs:string"></xs:simpleType>
    <xs:simpleType name="ExternalCategoryPurpose1Code">
        <xs:restriction base="xs:string"></xs:simpleType>
    <xs:simpleType name="ExternalClearingSystemIdentification1Code">
        <xs:restriction base="xs:string"></xs:simpleType>
    <xs:simpleType name="ExternalFinancialInstitutionIdentification1Code">
        <xs:restriction base="xs:string"></xs:simpleType>
    <xs:simpleType name="ExternalLocalInstrument1Code">
        <xs:restriction base="xs:string"></xs:simpleType>
    <xs:simpleType name="ExternalOrganisationIdentification1Code">
        <xs:restriction base="xs:string"></xs:simpleType>
    <xs:simpleType name="ExternalPersonIdentification1Code">
        <xs:restriction base="xs:string"></xs:simpleType>
    <xs:simpleType name="ExternalPurpose1Code">
        <xs:restriction base="xs:string"></xs:simpleType>
    <xs:simpleType name="ExternalServiceLevel1Code">
        <xs:restriction base="xs:string"></xs:simpleType>
    <xs:complexType name="FinancialIdentificationSchemeName1Choice">
        <xs:sequence></xs:complexType>
    <xs:complexType name="FinancialInstitutionIdentification7">
        <xs:sequence></xs:complexType>
    <xs:complexType name="GenericAccountIdentification1">
        <xs:sequence></xs:complexType>
    <xs:complexType name="GenericFinancialIdentification1">
        <xs:sequence></xs:complexType>
    <xs:complexType name="GenericOrganisationIdentification1">
        <xs:sequence></xs:complexType>
    <xs:complexType name="GenericPersonIdentification1">
        <xs:sequence></xs:complexType>
    <xs:complexType name="GroupHeader32">
        <xs:sequence></xs:complexType>
    <xs:simpleType name="IBAN2007Identifier">
        <xs:restriction base="xs:string"></xs:simpleType>
    <xs:simpleType name="ISODate">
        <xs:restriction base="xs:date" />
    </xs:simpleType>
    <xs:simpleType name="ISODateTime">
        <xs:restriction base="xs:dateTime" />
    </xs:simpleType>
    <xs:simpleType name="Instruction3Code">
        <xs:restriction base="xs:string"></xs:simpleType>
    <xs:complexType name="InstructionForCreditorAgent1">
        <xs:sequence></xs:complexType>
    <xs:complexType name="LocalInstrument2Choice">
        <xs:sequence></xs:complexType>
    <xs:simpleType name="Max10Text">
        <xs:restriction base="xs:string"></xs:simpleType>
    <xs:simpleType name="Max128Text">
        <xs:restriction base="xs:string"></xs:simpleType>
    <xs:simpleType name="Max140Text">
        <xs:restriction base="xs:string"></xs:simpleType>
    <xs:simpleType name="Max15NumericText">
        <xs:restriction base="xs:string"></xs:simpleType>
    <xs:simpleType name="Max16Text">
        <xs:restriction base="xs:string"></xs:simpleType>
    <xs:simpleType name="Max2048Text">
        <xs:restriction base="xs:string"></xs:simpleType>
    <xs:simpleType name="Max34Text">
        <xs:restriction base="xs:string"></xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:restriction base="xs:string"></xs:simpleType>
    <xs:simpleType name="Max4Text">
        <xs:restriction base="xs:string"></xs:simpleType>
    <xs:simpleType name="Max70Text">
        <xs:restriction base="xs:string"></xs:simpleType>
    <xs:complexType name="NameAndAddress10">
        <xs:sequence></xs:complexType>
    <xs:simpleType name="NamePrefix1Code">
        <xs:restriction base="xs:string"></xs:simpleType>
    <xs:simpleType name="Number">
        <xs:restriction base="xs:decimal"></xs:simpleType>
    <xs:complexType name="OrganisationIdentification4">
        <xs:sequence></xs:complexType>
    <xs:complexType name="OrganisationIdentificationSchemeName1Choice">
        <xs:sequence></xs:complexType>
    <xs:complexType name="Party6Choice">
        <xs:sequence></xs:complexType>
    <xs:complexType name="PartyIdentification32">
        <xs:sequence></xs:complexType>
    <xs:complexType name="PaymentIdentification1">
        <xs:sequence></xs:complexType>
    <xs:complexType name="PaymentInstructionInformation3">
        <xs:sequence></xs:complexType>
    <xs:simpleType name="PaymentMethod3Code">
        <xs:restriction base="xs:string"></xs:simpleType>
    <xs:complexType name="PaymentTypeInformation19">
        <xs:sequence></xs:complexType>
    <xs:simpleType name="PercentageRate">
        <xs:restriction base="xs:decimal"></xs:simpleType>
    <xs:complexType name="PersonIdentification5">
        <xs:sequence></xs:complexType>
    <xs:complexType name="PersonIdentificationSchemeName1Choice">
        <xs:sequence></xs:complexType>
    <xs:simpleType name="PhoneNumber">
        <xs:restriction base="xs:string"></xs:simpleType>
    <xs:complexType name="PostalAddress6">
        <xs:sequence></xs:complexType>
    <xs:simpleType name="Priority2Code">
        <xs:restriction base="xs:string"></xs:simpleType>
    <xs:complexType name="Purpose2Choice">
        <xs:sequence></xs:complexType>
    <xs:complexType name="ReferredDocumentInformation3">
        <xs:sequence></xs:complexType>
    <xs:complexType name="ReferredDocumentType1Choice">
        <xs:sequence></xs:complexType>
    <xs:complexType name="ReferredDocumentType2">
        <xs:sequence></xs:complexType>
    <xs:complexType name="RegulatoryAuthority2">
        <xs:sequence></xs:complexType>
    <xs:complexType name="RegulatoryReporting3">
        <xs:sequence></xs:complexType>
    <xs:simpleType name="RegulatoryReportingType1Code">
        <xs:restriction base="xs:string"></xs:simpleType>
    <xs:complexType name="RemittanceAmount1">
        <xs:sequence></xs:complexType>
    <xs:complexType name="RemittanceInformation5">
        <xs:sequence></xs:complexType>
    <xs:complexType name="RemittanceLocation2">
        <xs:sequence></xs:complexType>
    <xs:simpleType name="RemittanceLocationMethod2Code">
        <xs:restriction base="xs:string"></xs:simpleType>
    <xs:complexType name="ServiceLevel8Choice">
        <xs:sequence></xs:complexType>
    <xs:complexType name="StructuredRegulatoryReporting3">
        <xs:sequence></xs:complexType>
    <xs:complexType name="StructuredRemittanceInformation7">
        <xs:sequence></xs:complexType>
    <xs:complexType name="TaxAmount1">
        <xs:sequence></xs:complexType>
    <xs:complexType name="TaxAuthorisation1">
        <xs:sequence></xs:complexType>
    <xs:complexType name="TaxInformation3">
        <xs:sequence></xs:complexType>
    <xs:complexType name="TaxParty1">
        <xs:sequence></xs:complexType>
    <xs:complexType name="TaxParty2">
        <xs:sequence></xs:complexType>
    <xs:complexType name="TaxPeriod1">
        <xs:sequence></xs:complexType>
    <xs:complexType name="TaxRecord1">
        <xs:sequence></xs:complexType>
    <xs:complexType name="TaxRecordDetails1">
        <xs:sequence></xs:complexType>
    <xs:simpleType name="TaxRecordPeriod1Code">
        <xs:restriction base="xs:string"></xs:simpleType>
        </xs:sequence>
</xs:schema>
