iso20022/official tsin.004.001.01.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor (build:R1.0.41.3) on 2013 May 27 11:30:20, ISO 20022 version : 2013-->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:tsin.004.001.01" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:tsin.004.001.01">
    <xs:element name="Document" type="Document"/>
    <xs:complexType name="AccountIdentification4Choice">
        <xs:choice>
            <xs:element name="IBAN" type="IBAN2007Identifier"/>
            <xs:element name="Othr" type="GenericAccountIdentification1"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="AccountSchemeName1Choice">
        <xs:choice>
            <xs:element name="Cd" type="ExternalAccountIdentification1Code"/>
            <xs:element name="Prtry" type="Max35Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="AccountingAccount1">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CostRefPttrn" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ActiveOrHistoricCurrencyAndAmount_SimpleType">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ActiveOrHistoricCurrencyAndAmount">
        <xs:simpleContent>
            <xs:extension base="ActiveOrHistoricCurrencyAndAmount_SimpleType">
                <xs:attribute name="Ccy" type="ActiveOrHistoricCurrencyCode" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="ActiveOrHistoricCurrencyCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="AdditionalInformation1">
        <xs:sequence>
            <xs:element name="InfTp" type="InformationType1Choice"/>
            <xs:element name="InfVal" type="Max350Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AdditionalInformation6">
        <xs:sequence>
            <xs:element name="InfTp" type="ExternalInformationType1Code"/>
            <xs:element name="InfVal" type="Max350Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="AddressType2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ADDR"/>
            <xs:enumeration value="PBOX"/>
            <xs:enumeration value="HOME"/>
            <xs:enumeration value="BIZZ"/>
            <xs:enumeration value="MLTO"/>
            <xs:enumeration value="DLVY"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Adjustment4">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Tp" type="AdjustmentType2Code"/>
                <xs:element name="OthrAdjstmntTp" type="Max35Text"/>
            </xs:choice>
            <xs:element name="Drctn" type="AdjustmentDirection1Code"/>
            <xs:element name="Amt" type="CurrencyAndAmount"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="AdjustmentDirection1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ADDD"/>
            <xs:enumeration value="SUBS"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AdjustmentType2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="REBA"/>
            <xs:enumeration value="DISC"/>
            <xs:enumeration value="CREN"/>
            <xs:enumeration value="SURC"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AnyBICIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="BICIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="BaseOneRate">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="10"/>
            <xs:totalDigits value="11"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="BinaryFile1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="MIMETp" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NcodgTp" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CharSet" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="InclBinryObjct" type="Max100KBinary"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="BranchAndFinancialInstitutionIdentification4">
        <xs:sequence>
            <xs:element name="FinInstnId" type="FinancialInstitutionIdentification7"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BrnchId" type="BranchData2"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="BranchData2">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max140Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PstlAdr" type="PostalAddress6"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CashAccount16">
        <xs:sequence>
            <xs:element name="Id" type="AccountIdentification4Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Tp" type="CashAccountType2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Ccy" type="ActiveOrHistoricCurrencyCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max70Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CashAccountType2">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Cd" type="CashAccountType4Code"/>
                <xs:element name="Prtry" type="Max35Text"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CashAccountType4Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CASH"/>
            <xs:enumeration value="CHAR"/>
            <xs:enumeration value="COMM"/>
            <xs:enumeration value="TAXE"/>
            <xs:enumeration value="CISH"/>
            <xs:enumeration value="TRAS"/>
            <xs:enumeration value="SACC"/>
            <xs:enumeration value="CACC"/>
            <xs:enumeration value="SVGS"/>
            <xs:enumeration value="ONDP"/>
            <xs:enumeration value="MGLD"/>
            <xs:enumeration value="NREX"/>
            <xs:enumeration value="MOMA"/>
            <xs:enumeration value="LOAN"/>
            <xs:enumeration value="SLRY"/>
            <xs:enumeration value="ODFT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CategoryPurpose1Choice">
        <xs:choice>
            <xs:element name="Cd" type="ExternalCategoryPurpose1Code"/>
            <xs:element name="Prtry" type="Max35Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="ChargeType17Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="POST"/>
            <xs:enumeration value="REGF"/>
            <xs:enumeration value="SHIP"/>
            <xs:enumeration value="CHAR"/>
            <xs:enumeration value="OTHR"/>
            <xs:enumeration value="PREM"/>
            <xs:enumeration value="PACK"/>
            <xs:enumeration value="PICK"/>
            <xs:enumeration value="SECU"/>
            <xs:enumeration value="INSU"/>
            <xs:enumeration value="MISC"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ChargeType8Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="SIGN"/>
            <xs:enumeration value="STDE"/>
            <xs:enumeration value="STOR"/>
            <xs:enumeration value="PACK"/>
            <xs:enumeration value="PICK"/>
            <xs:enumeration value="DNGR"/>
            <xs:enumeration value="SECU"/>
            <xs:enumeration value="INSU"/>
            <xs:enumeration value="COLF"/>
            <xs:enumeration value="CHOR"/>
            <xs:enumeration value="CHDE"/>
            <xs:enumeration value="AIRF"/>
            <xs:enumeration value="TRPT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ChargeTypeFormat3Choice">
        <xs:choice>
            <xs:element name="Cd" type="ChargeType17Code"/>
            <xs:element name="Prtry" type="GenericIdentification13"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="ChargesDetails2">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Tp" type="ChargeType8Code"/>
                <xs:element name="OthrChrgsTp" type="Max35Text"/>
            </xs:choice>
            <xs:element name="Amt" type="CurrencyAndAmount"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ClearingSystemIdentification2Choice">
        <xs:choice>
            <xs:element name="Cd" type="ExternalClearingSystemIdentification1Code"/>
            <xs:element name="Prtry" type="Max35Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="ClearingSystemMemberIdentification2">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="ClrSysId" type="ClearingSystemIdentification2Choice"/>
            <xs:element name="MmbId" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Consignment2">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Consgnr" type="TradeParty1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Consgn" type="TradeParty1"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="TrnsprtMeans" type="TransportMeans3"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Contacts3">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="NmPrfx" type="NamePrefix1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max140Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PhneNb" type="PhoneNumber"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MobNb" type="PhoneNumber"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FaxNb" type="PhoneNumber"/>
            <xs:element maxOccurs="1" minOccurs="0" name="EmailAdr" type="Max2048Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Othr" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="JobTitl" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Rspnsblty" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Dept" type="Max70Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CountryCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CountryCodeAndName1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Cd" type="CountryCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CreditDebitCode">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CRDT"/>
            <xs:enumeration value="DBIT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CreditorReferenceInformation2">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Tp" type="CreditorReferenceType2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Ref" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CreditorReferenceType1Choice">
        <xs:choice>
            <xs:element name="Cd" type="DocumentType3Code"/>
            <xs:element name="Prtry" type="Max35Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="CreditorReferenceType2">
        <xs:sequence>
            <xs:element name="CdOrPrtry" type="CreditorReferenceType1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CurrencyAndAmount_SimpleType">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CurrencyAndAmount">
        <xs:simpleContent>
            <xs:extension base="CurrencyAndAmount_SimpleType">
                <xs:attribute name="Ccy" type="CurrencyCode" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="CurrencyCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CurrencyReference2">
        <xs:sequence>
            <xs:element name="TrgtCcy" type="CurrencyCode"/>
            <xs:element name="SrcCcy" type="CurrencyCode"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="XchgRateInf" type="ExchangeRateInformation1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DateAndDateTimeChoice">
        <xs:choice>
            <xs:element name="Dt" type="ISODate"/>
            <xs:element name="DtTm" type="ISODateTime"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="DateAndPlaceOfBirth">
        <xs:sequence>
            <xs:element name="BirthDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrvcOfBirth" type="Max35Text"/>
            <xs:element name="CityOfBirth" type="Max35Text"/>
            <xs:element name="CtryOfBirth" type="CountryCode"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DateFormat4Choice">
        <xs:choice>
            <xs:element name="Dt" type="DateAndDateTimeChoice"/>
            <xs:element name="NotSpcfdDt" type="DateType6Code"/>
            <xs:element name="Prtry" type="GenericIdentification13"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="DateType6Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="OPEN"/>
            <xs:enumeration value="UKWN"/>
            <xs:enumeration value="ONGO"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="DecimalNumber">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="17"/>
            <xs:totalDigits value="18"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="DiscountOrChargeType1Choice">
        <xs:choice>
            <xs:element name="ChrgTp" type="ChargeTypeFormat3Choice"/>
            <xs:element name="DscntTp" type="DiscountTypeFormat1Choice"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="DiscountType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="QUAN"/>
            <xs:enumeration value="PROM"/>
            <xs:enumeration value="PRIC"/>
            <xs:enumeration value="SPAG"/>
            <xs:enumeration value="ENOR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="DiscountTypeFormat1Choice">
        <xs:choice>
            <xs:element name="Cd" type="DiscountType1Code"/>
            <xs:element name="Prtry" type="GenericIdentification13"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="FinInvc" type="FinancialInvoiceV01"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DocumentAdjustment2">
        <xs:sequence>
            <xs:element name="Amt" type="ActiveOrHistoricCurrencyAndAmount"/>
            <xs:element name="CdtDbtInd" type="CreditDebitCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Rsn" type="Max4Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlInf" type="Max140Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DocumentGeneralInformation2">
        <xs:sequence>
            <xs:element name="DocTp" type="ExternalDocumentType1Code"/>
            <xs:element name="DocNb" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SndrRcvrSeqId" type="Max140Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="IsseDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="URL" type="Max256Text"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="AttchdBinryFile" type="BinaryFile1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DocumentIdentification22">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DtOfIsse" type="ISODate"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DocumentIdentification23">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DtOfIsse" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OrdrLineId" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DocumentIdentification7">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element name="DtOfIsse" type="ISODate"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="DocumentType3Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="RADM"/>
            <xs:enumeration value="RPIN"/>
            <xs:enumeration value="FXDR"/>
            <xs:enumeration value="DISP"/>
            <xs:enumeration value="PUOR"/>
            <xs:enumeration value="SCOR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ExchangeRateInformation1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="XchgRate" type="BaseOneRate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RateTp" type="ExchangeRateType1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrctId" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ExchangeRateType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="SPOT"/>
            <xs:enumeration value="SALE"/>
            <xs:enumeration value="AGRD"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalAccountIdentification1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalCategoryPurpose1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalClearingSystemIdentification1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="5"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalDocumentPurpose1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalDocumentType1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalFinancialInstitutionIdentification1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalIncoterms1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalInformationType1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalLocalInstrument1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalOrganisationIdentification1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalPackagingType1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalPersonIdentification1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalServiceLevel1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="FinancialCard1">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="CdtLmtAmt" type="CurrencyAndAmount"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="CdtAvlblAmt" type="CurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="IntrstRatePct" type="PercentageRate"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FinancialIdentificationSchemeName1Choice">
        <xs:choice>
            <xs:element name="Cd" type="ExternalFinancialInstitutionIdentification1Code"/>
            <xs:element name="Prtry" type="Max35Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="FinancialInstitutionIdentification7">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="BIC" type="BICIdentifier"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ClrSysMmbId" type="ClearingSystemMemberIdentification2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max140Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PstlAdr" type="PostalAddress6"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Othr" type="GenericFinancialIdentification1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FinancialInvoiceV01">
        <xs:sequence>
            <xs:element name="InvcHdr" type="InvoiceHeader1"/>
            <xs:element name="TradAgrmt" type="TradeAgreement6"/>
            <xs:element name="TradDlvry" type="TradeDelivery1"/>
            <xs:element name="TradSttlm" type="TradeSettlement1"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="LineItm" type="LineItem10"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericAccountIdentification1">
        <xs:sequence>
            <xs:element name="Id" type="Max34Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="AccountSchemeName1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericFinancialIdentification1">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="FinancialIdentificationSchemeName1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification13">
        <xs:sequence>
            <xs:element name="Id" type="Max4AlphaNumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max35Text"/>
            <xs:element name="Issr" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification4">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element name="IdTp" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericOrganisationIdentification1">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="OrganisationIdentificationSchemeName1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericPersonIdentification1">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="PersonIdentificationSchemeName1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="IBAN2007Identifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}[0-9]{2,2}[a-zA-Z0-9]{1,30}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISODate">
        <xs:restriction base="xs:date"/>
    </xs:simpleType>
    <xs:simpleType name="ISODateTime">
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:complexType name="Incoterms3">
        <xs:sequence>
            <xs:element name="IncotrmsCd" type="Incoterms4Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Lctn" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Incoterms4Choice">
        <xs:choice>
            <xs:element name="Cd" type="ExternalIncoterms1Code"/>
            <xs:element name="Prtry" type="GenericIdentification13"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="InformationType1Choice">
        <xs:choice>
            <xs:element name="Cd" type="InformationType1Code"/>
            <xs:element name="Prtry" type="Max140Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="InformationType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="INST"/>
            <xs:enumeration value="RELY"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="InvoiceHeader1">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element name="TpCd" type="ExternalDocumentType1Code"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Nm" type="Max35Text"/>
            <xs:element name="IsseDtTm" type="ISODateTime"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="TradeParty1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LangCd" type="LanguageCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CpyInd" type="YesNoIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DocPurp" type="ExternalDocumentPurpose1Code"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="InclNote" type="AdditionalInformation6"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="LanguageCode">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:complexType name="LegalOrganisation1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max140Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="LineItem10">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TradPdct" type="TradeProduct1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BuyrOrdrId" type="DocumentIdentification23"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrctId" type="DocumentIdentification22"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="PurchsAcctgAcct" type="AccountingAccount1"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="NetPric" type="CurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NetPricQty" type="Quantity4"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="NetPricAllwncChrg" type="LineItemAllowanceCharge1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NetWght" type="Quantity3"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="GrssPric" type="CurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="GrssPricQty" type="Quantity4"/>
            <xs:element maxOccurs="1" minOccurs="0" name="GrssWght" type="Quantity3"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="LogstcsChrg" type="ChargesDetails2"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Tax" type="LineItemTax1"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="AllwncChrg" type="LineItemAllowanceCharge1"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="FinAdjstmnt" type="Adjustment4"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BlldQty" type="Quantity3"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PackgQty" type="DecimalNumber"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PerPackgUnitQty" type="Quantity3"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Packgng" type="Packaging1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ChrgFreeQty" type="Quantity3"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MeasrQtyStart" type="Quantity3"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MeasrQtyEnd" type="Quantity3"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MeasrDtTmStart" type="ISODateTime"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MeasrDtTmEnd" type="ISODateTime"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ShipTo" type="TradeParty1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Incotrms" type="Incoterms3"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DlvryDtTm" type="ISODateTime"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DlvryNoteId" type="DocumentIdentification22"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MntrySummtn" type="LineItemMonetarySummation1"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="InclNote" type="AdditionalInformation1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="LineItemAllowanceCharge1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="ChrgInd" type="YesNoIndicator"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="ActlAmt" type="CurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BsisQty" type="Quantity3"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ClctnPct" type="PercentageRate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SeqNb" type="Number"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Rsn" type="DiscountOrChargeType1Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="LineItemMonetarySummation1">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="LineTtlAmt" type="CurrencyAndAmount"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="AllwncTtlAmt" type="CurrencyAndAmount"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="ChrgTtlAmt" type="CurrencyAndAmount"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="TaxTtlAmt" type="CurrencyAndAmount"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="TaxBsisTtlAmt" type="CurrencyAndAmount"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="InfAmt" type="CurrencyAndAmount"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="LineItemTax1">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="ClctdAmt" type="CurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TpCd" type="TaxTypeFormat1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TaxPtDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ClctdRate" type="PercentageRate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtgyCd" type="Max4Text"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="CtgyNm" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="LocalInstrument2Choice">
        <xs:choice>
            <xs:element name="Cd" type="ExternalLocalInstrument1Code"/>
            <xs:element name="Prtry" type="Max35Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="Max100KBinary">
        <xs:restriction base="xs:base64Binary">
            <xs:minLength value="1"/>
            <xs:maxLength value="102400"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max140Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="140"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max15NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,15}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max16Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="16"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max2048Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="2048"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max256Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="256"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max34Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="34"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max350Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="350"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max4AlphaNumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z0-9]{1,4}"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max4Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max70Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="70"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="NamePrefix1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="DOCT"/>
            <xs:enumeration value="MIST"/>
            <xs:enumeration value="MISS"/>
            <xs:enumeration value="MADM"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Number">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="0"/>
            <xs:totalDigits value="18"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="OrganisationIdentification6">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="BIC" type="AnyBICIdentifier"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Othr" type="GenericOrganisationIdentification1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="OrganisationIdentificationSchemeName1Choice">
        <xs:choice>
            <xs:element name="Cd" type="ExternalOrganisationIdentification1Code"/>
            <xs:element name="Prtry" type="Max35Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="Packaging1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Tp" type="ExternalPackagingType1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Party8Choice">
        <xs:choice>
            <xs:element name="OrgId" type="OrganisationIdentification6"/>
            <xs:element name="PrvtId" type="PersonIdentification5"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PartyIdentification45">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Id" type="Party8Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PstlAdr" type="PostalAddress6"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtryOfRes" type="CountryCode"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="CtctDtls" type="Contacts3"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PaymentMeans1">
        <xs:sequence>
            <xs:element name="PmtTp" type="PaymentTypeInformation19"/>
            <xs:element name="PmtMtdCd" type="PaymentMethod4Code"/>
            <xs:element name="PyeeCdtrAcct" type="CashAccount16"/>
            <xs:element name="PyeeFI" type="BranchAndFinancialInstitutionIdentification4"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PyerDbtrAcct" type="CashAccount16"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PyerFI" type="BranchAndFinancialInstitutionIdentification4"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="PaymentMethod4Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CHK"/>
            <xs:enumeration value="TRF"/>
            <xs:enumeration value="DD"/>
            <xs:enumeration value="TRA"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="PaymentPeriod1">
        <xs:sequence>
            <xs:element name="Cd" type="PaymentTime1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NbOfDays" type="Number"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PaymentTerms3">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="DueDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PmtPrd" type="PaymentPeriod1"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Desc" type="Max140Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrtlPmtPct" type="PercentageRate"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="DrctDbtMndtId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DscntAmt" type="CurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DscntPctRate" type="PercentageRate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DscntBsisAmt" type="CurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PnltyAmt" type="CurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PnltyPctRate" type="PercentageRate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PnltyBsisAmt" type="CurrencyAndAmount"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="PaymentTime1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CASH"/>
            <xs:enumeration value="EMTD"/>
            <xs:enumeration value="EPRD"/>
            <xs:enumeration value="PRMD"/>
            <xs:enumeration value="IREC"/>
            <xs:enumeration value="PRMR"/>
            <xs:enumeration value="EPRR"/>
            <xs:enumeration value="EMTR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="PaymentTypeInformation19">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="InstrPrty" type="Priority2Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SvcLvl" type="ServiceLevel8Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LclInstrm" type="LocalInstrument2Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtgyPurp" type="CategoryPurpose1Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="PercentageRate">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="10"/>
            <xs:totalDigits value="11"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Period1">
        <xs:sequence>
            <xs:element name="StartDt" type="DateFormat4Choice"/>
            <xs:element name="EndDt" type="DateFormat4Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PersonIdentification5">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="DtAndPlcOfBirth" type="DateAndPlaceOfBirth"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Othr" type="GenericPersonIdentification1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PersonIdentificationSchemeName1Choice">
        <xs:choice>
            <xs:element name="Cd" type="ExternalPersonIdentification1Code"/>
            <xs:element name="Prtry" type="Max35Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="PhoneNumber">
        <xs:restriction base="xs:string">
            <xs:pattern value="\+[0-9]{1,3}-[0-9()+\-]{1,30}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="PostalAddress6">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="AdrTp" type="AddressType2Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Dept" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SubDept" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="StrtNm" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BldgNb" type="Max16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PstCd" type="Max16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TwnNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrySubDvsn" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Ctry" type="CountryCode"/>
            <xs:element maxOccurs="7" minOccurs="0" name="AdrLine" type="Max70Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Priority2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="HIGH"/>
            <xs:enumeration value="NORM"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ProductCategory1">
        <xs:sequence>
            <xs:element name="Tp" type="ProductCategory1Code"/>
            <xs:element name="Ctgy" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ProductCategory1Choice">
        <xs:choice>
            <xs:element name="StrdPdctCtgy" type="ProductCategory1"/>
            <xs:element name="OthrPdctCtgy" type="GenericIdentification4"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="ProductCategory1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="HRTR"/>
            <xs:enumeration value="QOTA"/>
            <xs:enumeration value="PRGP"/>
            <xs:enumeration value="LOBU"/>
            <xs:enumeration value="GNDR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ProductCharacteristics1">
        <xs:sequence>
            <xs:element name="Tp" type="ProductCharacteristics1Code"/>
            <xs:element name="Chrtcs" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ProductCharacteristics1Choice">
        <xs:choice>
            <xs:element name="StrdPdctChrtcs" type="ProductCharacteristics1"/>
            <xs:element name="OthrPdctChrtcs" type="GenericIdentification4"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="ProductCharacteristics1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="BISP"/>
            <xs:enumeration value="CHNR"/>
            <xs:enumeration value="CLOR"/>
            <xs:enumeration value="EDSP"/>
            <xs:enumeration value="ENNR"/>
            <xs:enumeration value="OPTN"/>
            <xs:enumeration value="ORCR"/>
            <xs:enumeration value="PCTV"/>
            <xs:enumeration value="SISP"/>
            <xs:enumeration value="SIZE"/>
            <xs:enumeration value="SZRG"/>
            <xs:enumeration value="SPRM"/>
            <xs:enumeration value="STOR"/>
            <xs:enumeration value="VINR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ProductCharacteristics2">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Chrtc" type="ProductCharacteristics1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ValMeasr" type="Quantity3"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ProductIdentifier2">
        <xs:sequence>
            <xs:element name="Tp" type="ProductIdentifier2Code"/>
            <xs:element name="Idr" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ProductIdentifier2Choice">
        <xs:choice>
            <xs:element name="StrdPdctIdr" type="ProductIdentifier2"/>
            <xs:element name="OthrPdctIdr" type="GenericIdentification4"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="ProductIdentifier2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="BINR"/>
            <xs:enumeration value="COMD"/>
            <xs:enumeration value="EANC"/>
            <xs:enumeration value="HRTR"/>
            <xs:enumeration value="MANI"/>
            <xs:enumeration value="MODL"/>
            <xs:enumeration value="PART"/>
            <xs:enumeration value="QOTA"/>
            <xs:enumeration value="STYL"/>
            <xs:enumeration value="SUPI"/>
            <xs:enumeration value="UPCC"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Quantity3">
        <xs:sequence>
            <xs:choice>
                <xs:element name="UnitOfMeasrCd" type="UnitOfMeasure4Code"/>
                <xs:element name="OthrUnitOfMeasr" type="Max35Text"/>
            </xs:choice>
            <xs:element name="Val" type="DecimalNumber"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Quantity4">
        <xs:sequence>
            <xs:choice>
                <xs:element name="UnitOfMeasrCd" type="UnitOfMeasure4Code"/>
                <xs:element name="OthrUnitOfMeasr" type="Max35Text"/>
            </xs:choice>
            <xs:element name="Val" type="DecimalNumber"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Fctr" type="Max15NumericText"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ServiceLevel8Choice">
        <xs:choice>
            <xs:element name="Cd" type="ExternalServiceLevel1Code"/>
            <xs:element name="Prtry" type="Max35Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="SettlementAllowanceCharge1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="AllwncChrgInd" type="YesNoIndicator"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="ActlAmt" type="CurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Rsn" type="DiscountOrChargeType1Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SettlementMonetarySummation1">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="LineTtlAmt" type="CurrencyAndAmount"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="AllwncTtlAmt" type="CurrencyAndAmount"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="TtlDscntAmt" type="CurrencyAndAmount"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="ChrgTtlAmt" type="CurrencyAndAmount"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="TtlPrepdAmt" type="CurrencyAndAmount"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="TaxTtlAmt" type="CurrencyAndAmount"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="TaxBsisAmt" type="CurrencyAndAmount"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="RndgAmt" type="CurrencyAndAmount"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="GrdTtlAmt" type="CurrencyAndAmount"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="InfAmt" type="CurrencyAndAmount"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SettlementSubTotalCalculatedTax1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="TpCd" type="Max4Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtgyCd" type="Max4Text"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="ClctdAmt" type="CurrencyAndAmount"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="BsisAmt" type="CurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ClctdRate" type="PercentageRate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="XmptnRsn" type="TaxExemptionReason1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SettlementTax1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="TpCd" type="TaxTypeFormat1Choice"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="ClctdAmt" type="CurrencyAndAmount"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="BsisAmt" type="CurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TaxPtDt" type="ISODate"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="TaxExemptReason1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="NONE"/>
            <xs:enumeration value="MASA"/>
            <xs:enumeration value="MISA"/>
            <xs:enumeration value="SISA"/>
            <xs:enumeration value="IISA"/>
            <xs:enumeration value="CUYP"/>
            <xs:enumeration value="PRYP"/>
            <xs:enumeration value="ASTR"/>
            <xs:enumeration value="EMPY"/>
            <xs:enumeration value="EMCY"/>
            <xs:enumeration value="EPRY"/>
            <xs:enumeration value="ECYE"/>
            <xs:enumeration value="NFPI"/>
            <xs:enumeration value="NFQP"/>
            <xs:enumeration value="DECP"/>
            <xs:enumeration value="IRAC"/>
            <xs:enumeration value="IRAR"/>
            <xs:enumeration value="KEOG"/>
            <xs:enumeration value="PFSP"/>
            <xs:enumeration value="401K"/>
            <xs:enumeration value="SIRA"/>
            <xs:enumeration value="403B"/>
            <xs:enumeration value="457X"/>
            <xs:enumeration value="RIRA"/>
            <xs:enumeration value="RIAN"/>
            <xs:enumeration value="RCRF"/>
            <xs:enumeration value="RCIP"/>
            <xs:enumeration value="EIFP"/>
            <xs:enumeration value="EIOP"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="TaxExemptReason2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="NONE"/>
            <xs:enumeration value="MASA"/>
            <xs:enumeration value="MISA"/>
            <xs:enumeration value="SISA"/>
            <xs:enumeration value="IISA"/>
            <xs:enumeration value="CUYP"/>
            <xs:enumeration value="PRYP"/>
            <xs:enumeration value="ASTR"/>
            <xs:enumeration value="EMPY"/>
            <xs:enumeration value="EMCY"/>
            <xs:enumeration value="EPRY"/>
            <xs:enumeration value="ECYE"/>
            <xs:enumeration value="NFPI"/>
            <xs:enumeration value="NFQP"/>
            <xs:enumeration value="DECP"/>
            <xs:enumeration value="IRAC"/>
            <xs:enumeration value="IRAR"/>
            <xs:enumeration value="KEOG"/>
            <xs:enumeration value="PFSP"/>
            <xs:enumeration value="401K"/>
            <xs:enumeration value="SIRA"/>
            <xs:enumeration value="403B"/>
            <xs:enumeration value="457X"/>
            <xs:enumeration value="RIRA"/>
            <xs:enumeration value="RIAN"/>
            <xs:enumeration value="RCRF"/>
            <xs:enumeration value="RCIP"/>
            <xs:enumeration value="EIFP"/>
            <xs:enumeration value="EIOP"/>
            <xs:enumeration value="OTHR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="TaxExemptionReason1">
        <xs:sequence>
            <xs:element name="Strd" type="TaxExemptReason2Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlInf" type="Max350Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TaxExemptionReasonFormatChoice">
        <xs:choice>
            <xs:element name="Ustrd" type="Max140Text"/>
            <xs:element name="Strd" type="TaxExemptReason1Code"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="TaxParty3">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="TaxId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TaxTp" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RegnId" type="Max35Text"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="TaxXmptnRsn" type="TaxExemptionReasonFormatChoice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="TaxType15Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="PROV"/>
            <xs:enumeration value="NATI"/>
            <xs:enumeration value="STAT"/>
            <xs:enumeration value="WITH"/>
            <xs:enumeration value="STAM"/>
            <xs:enumeration value="COAX"/>
            <xs:enumeration value="VATA"/>
            <xs:enumeration value="CUST"/>
            <xs:enumeration value="VATB"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="TaxTypeFormat1Choice">
        <xs:choice>
            <xs:element name="Cd" type="TaxType15Code"/>
            <xs:element name="Prtry" type="GenericIdentification13"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="TradeAgreement6">
        <xs:sequence>
            <xs:element name="Buyr" type="TradeParty1"/>
            <xs:element name="Sellr" type="TradeParty1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="QtnDocId" type="DocumentIdentification22"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrctDocId" type="DocumentIdentification22"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BuyrOrdrIdDoc" type="DocumentIdentification22"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="AddtlRefDoc" type="DocumentGeneralInformation2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Incotrms" type="Incoterms3"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TradeDelivery1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="DlvryPrd" type="Period1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DlvryDtTm" type="ISODateTime"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ShipFr" type="TradeParty1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ShipTo" type="TradeParty1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="UltmtShipTo" type="TradeParty1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DlvryNote" type="DocumentIdentification22"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Consgnmt" type="Consignment2"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TradeParty1">
        <xs:sequence>
            <xs:element name="PtyId" type="PartyIdentification45"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LglOrg" type="LegalOrganisation1"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="TaxPty" type="TaxParty3"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TradeProduct1">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Id" type="ProductIdentifier2Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Desc" type="Max140Text"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="CtryOfOrgn" type="CountryCodeAndName1"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="PdctChrtcs" type="ProductCharacteristics2"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="PdctCtgy" type="ProductCategory1Choice"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="GblSrlIdr" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TradeSettlement1">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="DuePyblAmt" type="CurrencyAndAmount"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="CdtrRef" type="CreditorReferenceInformation2"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="PmtRef" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="InvcCcyCd" type="CurrencyCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Invcr" type="TradeParty1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Invcee" type="TradeParty1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Pyee" type="TradeParty1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Pyer" type="TradeParty1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TaxCcyXchg" type="CurrencyReference2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="InvcCcyXchg" type="CurrencyReference2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PmtCcyXchg" type="CurrencyReference2"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="PmtMeans" type="PaymentMeans1"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Tax" type="SettlementTax1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BllgPrd" type="Period1"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="AllwncChrg" type="SettlementAllowanceCharge1"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SubTtlClctdTax" type="SettlementSubTotalCalculatedTax1"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="LogstcsChrg" type="ChargesDetails2"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="PmtTerms" type="PaymentTerms3"/>
            <xs:element name="MntrySummtn" type="SettlementMonetarySummation1"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="AdjstmntAmtAndRsn" type="DocumentAdjustment2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="InvcRefdDoc" type="DocumentIdentification22"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ProfrmInvcRefdDoc" type="DocumentIdentification22"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LttrOfCdtRefdDoc" type="DocumentIdentification7"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="FinCard" type="FinancialCard1"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="PurchsAcctgAcct" type="AccountingAccount1"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="IssrFactrgListId" type="Max35Text"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="IssrFactrgAgrmtId" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TransportMeans3">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="MdCd" type="Max4Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="UnitOfMeasure4Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="KGM"/>
            <xs:enumeration value="EA"/>
            <xs:enumeration value="LTN"/>
            <xs:enumeration value="MTR"/>
            <xs:enumeration value="INH"/>
            <xs:enumeration value="LY"/>
            <xs:enumeration value="GLI"/>
            <xs:enumeration value="GRM"/>
            <xs:enumeration value="CMT"/>
            <xs:enumeration value="MTK"/>
            <xs:enumeration value="FOT"/>
            <xs:enumeration value="1A"/>
            <xs:enumeration value="INK"/>
            <xs:enumeration value="FTK"/>
            <xs:enumeration value="MIK"/>
            <xs:enumeration value="ONZ"/>
            <xs:enumeration value="PTI"/>
            <xs:enumeration value="PT"/>
            <xs:enumeration value="QTI"/>
            <xs:enumeration value="QT"/>
            <xs:enumeration value="GLL"/>
            <xs:enumeration value="MMT"/>
            <xs:enumeration value="KTM"/>
            <xs:enumeration value="YDK"/>
            <xs:enumeration value="MMK"/>
            <xs:enumeration value="CMK"/>
            <xs:enumeration value="KMK"/>
            <xs:enumeration value="MMQ"/>
            <xs:enumeration value="CLT"/>
            <xs:enumeration value="LTR"/>
            <xs:enumeration value="LBR"/>
            <xs:enumeration value="STN"/>
            <xs:enumeration value="BLL"/>
            <xs:enumeration value="BX"/>
            <xs:enumeration value="BO"/>
            <xs:enumeration value="CT"/>
            <xs:enumeration value="CH"/>
            <xs:enumeration value="CR"/>
            <xs:enumeration value="INQ"/>
            <xs:enumeration value="MTQ"/>
            <xs:enumeration value="OZI"/>
            <xs:enumeration value="OZA"/>
            <xs:enumeration value="BG"/>
            <xs:enumeration value="BL"/>
            <xs:enumeration value="TNE"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="YesNoIndicator">
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
</xs:schema>
