iso20022/tsin.004.001.01.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns="urn:swift:xsd:tsin.004.001.01"
    targetNamespace="urn:swift:xsd:tsin.004.001.01"
    elementFormDefault="qualified"
    attributeFormDefault="unqualified">
         <xs:element name="Document">
               <xs:complexType>
                     <xs:sequence>
                           <xs:element name="FinInvc">
                                 <xs:complexType>
                                       <xs:sequence>
                                             <xs:element name="InvcHdr">
                                                   <xs:complexType>
                                                         <xs:sequence>
                                                               <xs:element name="Id" type="xs:int"></xs:element>
                                                               <xs:element name="TpCd" type="xs:string"></xs:element>
                                                               <xs:element name="IsseDtTm" type="xs:dateTime"></xs:element>
                                                               <xs:element name="InclNote">
                                                                     <xs:complexType>
                                                                           <xs:sequence>
                                                                                 <xs:element name="InfTp" type="xs:string"></xs:element>
                                                                                 <xs:element name="InfVal" type="xs:string"></xs:element>
                                                                           </xs:sequence>
                                                                     </xs:complexType>
                                                               </xs:element>
                                                         </xs:sequence>
                                                   </xs:complexType>
                                             </xs:element>
                                             <xs:element name="TradAgrmt">
                                                   <xs:complexType>
                                                         <xs:sequence>
                                                               <xs:element name="Buyr">
                                                                     <xs:complexType>
                                                                           <xs:sequence>
                                                                                 <xs:element name="PtyId">
                                                                                       <xs:complexType>
                                                                                             <xs:sequence>
                                                                                                   <xs:element name="Nm" type="xs:string"></xs:element>
                                                                                                   <xs:element name="PstlAdr">
                                                                                                         <xs:complexType>
                                                                                                               <xs:sequence>
                                                                                                                     <xs:element name="AdrTp" type="xs:string"></xs:element>
                                                                                                                     <xs:element name="StrtNm" type="xs:string"></xs:element>
                                                                                                                     <xs:element name="PstCd" type="xs:int"></xs:element>
                                                                                                                     <xs:element name="TwnNm" type="xs:string"></xs:element>
                                                                                                                     <xs:element name="Ctry" type="xs:string"></xs:element>
                                                                                                               </xs:sequence>
                                                                                                         </xs:complexType>
                                                                                                   </xs:element>
                                                                                                   <xs:element name="CtryOfRes" type="xs:string"></xs:element>
                                                                                             </xs:sequence>
                                                                                       </xs:complexType>
                                                                                 </xs:element>
                                                                                 <xs:element name="LglOrg">
                                                                                       <xs:complexType>
                                                                                             <xs:sequence>
                                                                                                   <xs:element name="Id" type="xs:int"></xs:element>
                                                                                                   <xs:element name="Nm" type="xs:string"></xs:element>
                                                                                             </xs:sequence>
                                                                                       </xs:complexType>
                                                                                 </xs:element>
                                                                                 <xs:element name="TaxPty">
                                                                                       <xs:complexType>
                                                                                             <xs:sequence>
                                                                                                   <xs:element name="TaxId" type="xs:string"></xs:element>
                                                                                                   <xs:element name="TaxTp" type="xs:string"></xs:element>
                                                                                                   <xs:element name="RegnId" type="xs:string"></xs:element>
                                                                                                   <xs:element name="TaxXmptnRsn" maxOccurs="unbounded">
                                                                                                         <xs:complexType>
                                                                                                               <xs:sequence>
                                                                                                                     <xs:element name="Ustrd" type="xs:string"></xs:element>
                                                                                                               </xs:sequence>
                                                                                                         </xs:complexType>
                                                                                                   </xs:element>
                                                                                             </xs:sequence>
                                                                                       </xs:complexType>
                                                                                 </xs:element>
                                                                           </xs:sequence>
                                                                     </xs:complexType>
                                                               </xs:element>
                                                               <xs:element name="Sellr">
                                                                     <xs:complexType>
                                                                           <xs:sequence>
                                                                                 <xs:element name="PtyId">
                                                                                       <xs:complexType>
                                                                                             <xs:sequence>
                                                                                                   <xs:element name="Nm" type="xs:string"></xs:element>
                                                                                                   <xs:element name="PstlAdr">
                                                                                                         <xs:complexType>
                                                                                                               <xs:sequence>
                                                                                                                     <xs:element name="AdrTp" type="xs:string"></xs:element>
                                                                                                                     <xs:element name="StrtNm" type="xs:string"></xs:element>
                                                                                                                     <xs:element name="PstCd" type="xs:int"></xs:element>
                                                                                                                     <xs:element name="TwnNm" type="xs:string"></xs:element>
                                                                                                                     <xs:element name="Ctry" type="xs:string"></xs:element>
                                                                                                               </xs:sequence>
                                                                                                         </xs:complexType>
                                                                                                   </xs:element>
                                                                                             </xs:sequence>
                                                                                       </xs:complexType>
                                                                                 </xs:element>
                                                                           </xs:sequence>
                                                                     </xs:complexType>
                                                               </xs:element>
                                                               <xs:element name="CtrctDocId">
                                                                     <xs:complexType>
                                                                           <xs:sequence>
                                                                                 <xs:element name="Id" type="xs:string"></xs:element>
                                                                                 <xs:element name="DtOfIsse" type="xs:date"></xs:element>
                                                                           </xs:sequence>
                                                                     </xs:complexType>
                                                               </xs:element>
                                                               <xs:element name="BuyrOrdrIdDoc">
                                                                     <xs:complexType>
                                                                           <xs:sequence>
                                                                                 <xs:element name="Id" type="xs:string"></xs:element>
                                                                                 <xs:element name="DtOfIsse" type="xs:date"></xs:element>
                                                                           </xs:sequence>
                                                                     </xs:complexType>
                                                               </xs:element>
                                                         </xs:sequence>
                                                   </xs:complexType>
                                             </xs:element>
                                             <xs:element name="TradDlvry">
                                                   <xs:complexType>
                                                         <xs:sequence>
                                                               <xs:element name="ShipTo">
                                                                     <xs:complexType>
                                                                           <xs:sequence>
                                                                                 <xs:element name="PtyId">
                                                                                       <xs:complexType>
                                                                                             <xs:sequence>
                                                                                                   <xs:element name="Nm" type="xs:string"></xs:element>
                                                                                                   <xs:element name="PstlAdr">
                                                                                                         <xs:complexType>
                                                                                                               <xs:sequence>
                                                                                                                     <xs:element name="StrtNm" type="xs:string"></xs:element>
                                                                                                                     <xs:element name="PstCd" type="xs:string"></xs:element>
                                                                                                                     <xs:element name="TwnNm" type="xs:string"></xs:element>
                                                                                                                     <xs:element name="Ctry" type="xs:string"></xs:element>
                                                                                                               </xs:sequence>
                                                                                                         </xs:complexType>
                                                                                                   </xs:element>
                                                                                             </xs:sequence>
                                                                                       </xs:complexType>
                                                                                 </xs:element>
                                                                                 <xs:element name="TaxPty">
                                                                                       <xs:complexType>
                                                                                             <xs:sequence>
                                                                                                   <xs:element name="TaxId" type="xs:string"></xs:element>
                                                                                                   <xs:element name="TaxTp" type="xs:string"></xs:element>
                                                                                             </xs:sequence>
                                                                                       </xs:complexType>
                                                                                 </xs:element>
                                                                           </xs:sequence>
                                                                     </xs:complexType>
                                                               </xs:element>
                                                               <xs:element name="DlvryNote">
                                                                     <xs:complexType>
                                                                           <xs:sequence>
                                                                                 <xs:element name="Id" type="xs:string"></xs:element>
                                                                                 <xs:element name="DtOfIsse" type="xs:date"></xs:element>
                                                                           </xs:sequence>
                                                                     </xs:complexType>
                                                               </xs:element>
                                                               <xs:element name="Consgnmt">
                                                                     <xs:complexType>
                                                                           <xs:sequence>
                                                                                 <xs:element name="TrnsprtMeans">
                                                                                       <xs:complexType>
                                                                                             <xs:sequence>
                                                                                                   <xs:element name="MdCd" type="xs:int"></xs:element>
                                                                                                   <xs:element name="Nm" type="xs:string"></xs:element>
                                                                                             </xs:sequence>
                                                                                       </xs:complexType>
                                                                                 </xs:element>
                                                                           </xs:sequence>
                                                                     </xs:complexType>
                                                               </xs:element>
                                                         </xs:sequence>
                                                   </xs:complexType>
                                             </xs:element>
                                             <xs:element name="TradSttlm">
                                                   <xs:complexType>
                                                         <xs:sequence>
                                                             <xs:element name="DuePyblAmt" maxOccurs="unbounded">  <!-- type="xs:double" excluded FIXME TB -->
                                                                   <xs:complexType>
                                                                       <xs:simpleContent>
                                                                                 <xs:extension base="xs:double">
                                                                                     <xs:attribute name="Ccy" type="xs:string"></xs:attribute>
                                                                                </xs:extension>
                                                                            </xs:simpleContent>
                                                                     </xs:complexType>
                                                               </xs:element>
                                                               <xs:element name="CdtrRef">
                                                                     <xs:complexType>
                                                                           <xs:sequence>
                                                                                 <xs:element name="Tp">
                                                                                       <xs:complexType>
                                                                                             <xs:sequence>
                                                                                                   <xs:element name="CdOrPrtry">
                                                                                                         <xs:complexType>
                                                                                                               <xs:sequence>
                                                                                                                     <xs:element name="Cd" type="xs:string"></xs:element>
                                                                                                               </xs:sequence>
                                                                                                         </xs:complexType>
                                                                                                   </xs:element>
                                                                                                   <xs:element name="Issr" type="xs:string"></xs:element>
                                                                                             </xs:sequence>
                                                                                       </xs:complexType>
                                                                                 </xs:element>
                                                                                 <xs:element name="Ref" type="xs:string"></xs:element>
                                                                           </xs:sequence>
                                                                     </xs:complexType>
                                                               </xs:element>
                                                               <xs:element name="PmtRef" type="xs:string"></xs:element>
                                                               <xs:element name="InvcCcyCd" type="xs:string"></xs:element>
                                                               <xs:element name="InvcCcyXchg">
                                                                     <xs:complexType>
                                                                           <xs:sequence>
                                                                                 <xs:element name="TrgtCcy" type="xs:string"></xs:element>
                                                                                 <xs:element name="SrcCcy" type="xs:string"></xs:element>
                                                                                 <xs:element name="XchgRateInf">
                                                                                       <xs:complexType>
                                                                                             <xs:sequence>
                                                                                                   <xs:element name="XchgRate" type="xs:double"></xs:element>
                                                                                                   <xs:element name="RateTp" type="xs:string"></xs:element>
                                                                                             </xs:sequence>
                                                                                       </xs:complexType>
                                                                                 </xs:element>
                                                                           </xs:sequence>
                                                                     </xs:complexType>
                                                               </xs:element>
                                                               <xs:element name="PmtCcyXchg">
                                                                     <xs:complexType>
                                                                           <xs:sequence>
                                                                                 <xs:element name="TrgtCcy" type="xs:string"></xs:element>
                                                                                 <xs:element name="SrcCcy" type="xs:string"></xs:element>
                                                                                 <xs:element name="XchgRateInf">
                                                                                       <xs:complexType>
                                                                                             <xs:sequence>
                                                                                                   <xs:element name="XchgRate" type="xs:double"></xs:element>
                                                                                                   <xs:element name="RateTp" type="xs:string"></xs:element>
                                                                                             </xs:sequence>
                                                                                       </xs:complexType>
                                                                                 </xs:element>
                                                                           </xs:sequence>
                                                                     </xs:complexType>
                                                               </xs:element>
                                                               <xs:element name="PmtMeans" maxOccurs="unbounded">
                                                                     <xs:complexType>
                                                                           <xs:sequence>
                                                                                 <xs:element name="PmtTp">
                                                                                       <xs:complexType>
                                                                                             <xs:sequence>
                                                                                                   <xs:element name="InstrPrty" type="xs:string"></xs:element>
                                                                                             </xs:sequence>
                                                                                       </xs:complexType>
                                                                                 </xs:element>
                                                                                 <xs:element name="PmtMtdCd" type="xs:string"></xs:element>
                                                                                 <xs:element name="PyeeCdtrAcct">
                                                                                       <xs:complexType>
                                                                                             <xs:sequence>
                                                                                                   <xs:element name="Id">
                                                                                                         <xs:complexType>
                                                                                                               <xs:sequence>
                                                                                                                     <xs:element name="IBAN" type="xs:string"></xs:element>
                                                                                                               </xs:sequence>
                                                                                                         </xs:complexType>
                                                                                                   </xs:element>
                                                                                                   <xs:element name="Ccy" type="xs:string"></xs:element>
                                                                                             </xs:sequence>
                                                                                       </xs:complexType>
                                                                                 </xs:element>
                                                                                 <xs:element name="PyeeFI">
                                                                                       <xs:complexType>
                                                                                             <xs:sequence>
                                                                                                   <xs:element name="FinInstnId">
                                                                                                         <xs:complexType>
                                                                                                               <xs:sequence>
                                                                                                                     <xs:element name="BIC" type="xs:string"></xs:element>
                                                                                                                     <xs:element name="Nm" type="xs:string"></xs:element>
                                                                                                               </xs:sequence>
                                                                                                         </xs:complexType>
                                                                                                   </xs:element>
                                                                                             </xs:sequence>
                                                                                       </xs:complexType>
                                                                                 </xs:element>
                                                                           </xs:sequence>
                                                                     </xs:complexType>
                                                               </xs:element>
                                                               <xs:element name="SubTtlClctdTax" maxOccurs="unbounded">
                                                                     <xs:complexType>
                                                                           <xs:sequence>
                                                                               <xs:element name="CtgyCd" type="xs:string"></xs:element>
                                                                               <xs:element name="ClctdAmt" maxOccurs="unbounded">
                                                                                   <!-- FIXME -->
                                                                                   <xs:complexType>
                                                                                       <xs:simpleContent>
                                                                                                 <xs:extension base="xs:double">
                                                                                                     <xs:attribute name="Ccy" type="xs:string"></xs:attribute>
                                                                                                </xs:extension>
                                                                                            </xs:simpleContent>
                                                                                        </xs:complexType>
                                                                                 </xs:element>
                                                                                 <xs:element name="ClctdRate" type="xs:int"></xs:element>
                                                                           </xs:sequence>
                                                                     </xs:complexType>
                                                               </xs:element>
                                                               <xs:element name="PmtTerms">
                                                                     <xs:complexType>
                                                                           <xs:sequence>
                                                                                 <xs:element name="DueDt" type="xs:date"></xs:element>
                                                                                 <xs:element name="PnltyPctRate" type="xs:int"></xs:element>
                                                                           </xs:sequence>
                                                                     </xs:complexType>
                                                               </xs:element>
                                                               <xs:element name="MntrySummtn">
                                                                     <xs:complexType>
                                                                           <xs:sequence>
                                                                               <xs:element name="TaxTtlAmt" maxOccurs="unbounded">
                                                                                        <!-- FIXME TB -->
                                                                                   <xs:complexType>
                                                                                   <xs:simpleContent>
                                                                                             <xs:extension base="xs:double">
                                                                                                 <xs:attribute name="Ccy" type="xs:string"></xs:attribute>
                                                                                            </xs:extension>
                                                                                        </xs:simpleContent>
                                                                                 </xs:complexType>
                                                                                 </xs:element>
                                                                                 <xs:element name="TaxBsisAmt" maxOccurs="unbounded">
                                                                                        <!-- FIXME TB -->
                                                                   <xs:complexType>
                                                                       <xs:simpleContent>
                                                                                 <xs:extension base="xs:double">
                                                                                     <xs:attribute name="Ccy" type="xs:string"></xs:attribute>
                                                                                </xs:extension>
                                                                            </xs:simpleContent>
                                                                     </xs:complexType>
                                                                                 </xs:element>
                                                                                 <xs:element name="GrdTtlAmt" maxOccurs="unbounded">
                                                                                        <!-- FIXME TB -->
                                                                   <xs:complexType>
                                                                       <xs:simpleContent>
                                                                                 <xs:extension base="xs:double">
                                                                                     <xs:attribute name="Ccy" type="xs:string"></xs:attribute>
                                                                                </xs:extension>
                                                                            </xs:simpleContent>
                                                                     </xs:complexType>
                                                                                 </xs:element>
                                                                           </xs:sequence>
                                                                     </xs:complexType>
                                                               </xs:element>
                                                         </xs:sequence>
                                                   </xs:complexType>
                                             </xs:element>
                                             <xs:element name="LineItm" maxOccurs="unbounded">
                                                   <xs:complexType>
                                                         <xs:sequence>
                                                               <xs:element name="Id" type="xs:int"></xs:element>
                                                               <xs:element name="TradPdct">
                                                                     <xs:complexType>
                                                                           <xs:sequence>
                                                                                 <xs:element name="Nm" type="xs:string"></xs:element>
                                                                           </xs:sequence>
                                                                     </xs:complexType>
                                                               </xs:element>
                                                               <xs:element name="BuyrOrdrId">
                                                                     <xs:complexType>
                                                                           <xs:sequence>
                                                                                 <xs:element name="Id" type="xs:string"></xs:element>
                                                                                 <xs:element name="OrdrLineId" type="xs:int"></xs:element>
                                                                           </xs:sequence>
                                                                     </xs:complexType>
                                                               </xs:element>
                                                               <xs:element name="NetPric">
                                                                                        <!-- FIXME TB -->
                                                                                   <xs:complexType>
                                                                                       <xs:simpleContent>
                                                                                                 <xs:extension base="xs:double">
                                                                                                     <xs:attribute name="Ccy" type="xs:string"></xs:attribute>
                                                                                                </xs:extension>
                                                                                            </xs:simpleContent>
                                                                                        </xs:complexType>
                                                               </xs:element>
                                                               <xs:element name="NetPricQty">
                                                                     <xs:complexType>
                                                                           <xs:sequence>
                                                                                 <xs:element name="UnitOfMeasrCd" type="xs:string"></xs:element>
                                                                                 <xs:element name="Val" type="xs:int"></xs:element>
                                                                           </xs:sequence>
                                                                     </xs:complexType>
                                                               </xs:element>
                                                               <xs:element name="Tax">
                                                                     <xs:complexType>
                                                                           <xs:sequence>
                                                                               <xs:element name="ClctdAmt">
                                                                                        <!-- FIXME TB -->
                                                                                   <xs:complexType>
                                                                                       <xs:simpleContent>
                                                                                                 <xs:extension base="xs:double">
                                                                                                     <xs:attribute name="Ccy" type="xs:string"></xs:attribute>
                                                                                                </xs:extension>
                                                                                            </xs:simpleContent>
                                                                                        </xs:complexType>
                                                                                 </xs:element>
                                                                                 <xs:element name="TpCd">
                                                                                       <xs:complexType>
                                                                                             <xs:sequence>
                                                                                                   <xs:element name="Cd" type="xs:string"></xs:element>
                                                                                             </xs:sequence>
                                                                                       </xs:complexType>
                                                                                 </xs:element>
                                                                                 <xs:element name="ClctdRate" type="xs:int"></xs:element>
                                                                           </xs:sequence>
                                                                     </xs:complexType>
                                                               </xs:element>
                                                               <xs:element name="BlldQty">
                                                                     <xs:complexType>
                                                                           <xs:sequence>
                                                                                 <xs:element name="UnitOfMeasrCd" type="xs:string"></xs:element>
                                                                                 <xs:element name="Val" type="xs:int"></xs:element>
                                                                           </xs:sequence>
                                                                     </xs:complexType>
                                                               </xs:element>
                                                               <xs:element name="MntrySummtn">
                                                                     <xs:complexType>
                                                                           <xs:sequence>
                                                                               <xs:element name="LineTtlAmt">
                                                                                        <!-- FIXME TB -->
                                                                                   <xs:complexType>
                                                                                       <xs:simpleContent>
                                                                                                 <xs:extension base="xs:double">
                                                                                                     <xs:attribute name="Ccy" type="xs:string"></xs:attribute>
                                                                                                </xs:extension>
                                                                                            </xs:simpleContent>
                                                                                        </xs:complexType>
                                                                                 </xs:element>
                                                                                 <xs:element name="TaxTtlAmt">
                                                                                        <!-- FIXME TB -->
                                                                   <xs:complexType>
                                                                       <xs:simpleContent>
                                                                                 <xs:extension base="xs:double">
                                                                                     <xs:attribute name="Ccy" type="xs:string"></xs:attribute>
                                                                                </xs:extension>
                                                                            </xs:simpleContent>
                                                                     </xs:complexType>
                                                                                 </xs:element>
                                                                                 <xs:element name="TaxBsisTtlAmt">
                                                                                        <!-- FIXME TB -->
                                                                                   <xs:complexType>
                                                                                       <xs:simpleContent>
                                                                                                 <xs:extension base="xs:int">
                                                                                                     <xs:attribute name="Ccy" type="xs:string"></xs:attribute>
                                                                                                </xs:extension>
                                                                                            </xs:simpleContent>
                                                                                        </xs:complexType>

                                                                                 </xs:element>
                                                                           </xs:sequence>
                                                                     </xs:complexType>
                                                               </xs:element>
                                                         </xs:sequence>
                                                   </xs:complexType>
                                             </xs:element>
                                       </xs:sequence>
                                 </xs:complexType>
                           </xs:element>
                     </xs:sequence>
                     <!--<xs:attribute name="xmlns:xsi" type="xs:string"></xs:attribute>-->
                     <!--<xs:attribute name="xmlns" type="xs:string"></xs:attribute>-->
                     <!--<xs:attribute name="xsi:schemaLocation" type="xs:string"></xs:attribute>-->
               </xs:complexType>
         </xs:element>
   </xs:schema>
