iso20022/schematron/ISO20022/EN16931-ISO20022-syntax.sch

<pattern xmlns="http://purl.oclc.org/dsdl/schematron" is-a="EN16931-SYNTAX" id="EN16931-IS020022-Syntax">
	<!--
	<param name="Document_Context" value="/rsm:CrossIndustryInvoice/rsm:ExchangedDocumentContext"/>
	<param name="CII-SR-001" value="not(ram:SpecifiedTransactionID)"/>
    <param name="CII-SR-002" value="not(ram:TestIndicator)"/>
    <param name="CII-SR-003" value="(count(ram:BusinessProcessSpecifiedDocumentContextParameter) &lt;= 1)"/>
	-->
</pattern>